.btn {
    background-color: var(--linkBgColor);
    color: var(--linkTxtColor);
    padding: calc( var(--layoutGap) / 2);
    display: inline-block;
    font-family: var(--font-display);
    font-weight: var(--fontBold);
    font-size: var(--font-size-S);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    &:hover {
        background-color: var(--linkBgHoverColor);
        color: var(--linkTxtHoverColor);
    }
    &.btnSmall {
        padding: 0;
        background-color: transparent;
    }
}