.articleHead {
  .articleHeadImg {
    height: 50vh;    
    width: 100%;   
    overflow: hidden;
    aspect-ratio: 16/9;
    img {
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }
  .articleHeadTitle {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
}
