.articleHead {
  .articleHeadImg {
    width: 100%;   
    img {
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }
}

.articleHeadTitle {
  position: relative;
  margin-top: -150px;
  background-color: white;
  padding-bottom: calc(var(--layoutGap) * 2);
}