.articleHead {
  .articleHeadImg {
    width: 100%;   
    img {
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }
}

.articleHeadTitle {
  position: relative;
  margin-top: -35vh;
  background-color: white;
}