.listingGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--layoutGap);
  max-width: var(--listingMaxWidth);
  padding: 0 var(--layoutGap);
  margin: auto;
  .headliner {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }
  .teaser {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }
  .latest {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    gap: var(--layoutGap);
  }
}
/* make two rows on small devices */
@media (min-width: 768px) {
  .listingGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* make 12 rows on large devices */
@media (min-width: 1024px) {
  .listingGrid {
    grid-template-columns: repeat(12, 1fr);
  }
}
