.gridArticle {
    display: grid;
    grid-template-columns: 1.2fr repeat(10, 1fr) 1.2fr;
    container-name: articleContainer;
    row-gap: var(--layoutGap);
    column-gap: calc( var(--layoutGap) / 2 );
    max-width: var(--articleMaxWidth);
    padding: 0 var(--airGap);
    margin: auto;
}
@media (max-width: 48rem) {
  .gridArticle {
    grid-template-columns: repeat(12, 1fr);
  }
}
.furtherArticles {
    margin-top: calc( var(--layoutGap) * 2 );
}