.gridArticle {
    display: grid;
    grid-template-columns: 1.5fr repeat(10, 1fr) 1.5fr;
    container-name: articleContainer;
    row-gap: var(--layoutGap);
    column-gap: calc( var(--layoutGap) / 2 );
    max-width: var(--articleMaxWidth);
    margin: 0 auto;
    padding: 0 var(--airGap);
}