.loginForm {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .formActions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.formTitle {
        font-size: var(--font-size-L);
        font-family: var(--font-display);
    }
.loginLinks {
    p a {
        font-size: var(--font-size-M);
        font-family: var(--font-default);
        line-height: var(--line-height-base);
    }
}

label {
    font-size: var(--font-size-M);
    font-family: var(--font-default);
    line-height: var(--line-height-base);
}

input {
    padding: 6px;
    font-size: var(--font-size-M);
    font-family: var(--font-default);
    line-height: var(--line-height-base);
    color: var(--txtColor);
}
.formField,
.mc-field-group {
    display: flex;
    flex-direction: column;
}
.elementPanel {
    padding: var(--layoutGap);
    background-color: var(--colorPreviewCard);
    box-shadow: var(--shadow);
    border-radius: var(--radiusPreviewCard);
}