.sidebarBrandLink {
    padding-bottom: var(--layoutGap);
    display: block;
    transform: rotate(-90deg) translateY(0);
    transform-origin: 19% -175%;
    padding: 0;
    white-space: nowrap;
    path {
        fill: var(--txtInvertColor);
    }

    font-size: var(--font-size-XL);
    font-family: var(--font-display);
    font-weight: var(--font-normal);
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: var(--txtInvertColor);
    a:first-of-type {
        font-weight: var(--font-bold);
    }
    a {
        color: var(--txtInvertColor);
        text-decoration: none;
    }
}