.tag {
    font-family: var(--font-display);
    white-space: nowrap;
    font-size: var(--font-size-S);
    a {
        color: var(--txtColor);
        padding: var(--paddingBtnSmall);
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    &.invert,
    &.invert a {
        color: var(--txtInvertColor);
    }

    &.subject {
        border-radius: 100px;
    }

    .catIcon {
        width: calc(var(--font-size-S) * 2);
        height: calc(var(--font-size-S) * 2);
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--layoutGap) / 2);
}

.tagList {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--layoutGap) / 2);
}

.previewCard {
    .tag {
        display: inline-flex;
        overflow: hidden;
        max-width: calc(var(--font-size-S) * 2.6);
        transition: max-width 0.35s ease 0.2s;
        &:hover {
            max-width: 1000px;
            transition-delay: 0s;
        }
    }
    .catReveal {
        display: inline-block;
        padding: 0.5rem 0.75rem;
        white-space: nowrap;

        /* hide text by moving it left */
        transform: translateX(calc(-100% - 0.75rem));
        transition: transform 0.35s ease;
    }

    /* reveal on hover */
    .tag:hover .catReveal {
        transform: translateX(0);
    }
}