html {
  font-size: 62.5%;
}
#app {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  container-type: inline-size;
  container-name: appContainer;
  background: var(--backgroundColor);
  position: relative;
  z-index: 2;
}

@media (max-width: 1023px) {
  #app {
    flex-direction:column;
  }
}