.tag {
    font-family: var(--font-display);
    white-space: nowrap;
    font-size: var(--font-size-S);
    line-height: var(--line-height-base);
    a {
        transition: all 0.3s ease-in-out;
        color: var(--txtColor);
        padding: 4px 9px 6px;
        text-decoration: none;
        &:hover {
            background-color: var(--linkBgHoverColor) !important;
            color: var(--linkTxtHoverColor);
        }
    }
    &.invert, &.invert a {
        color: var(--txtInvertColor);
    }
    &.subject {
        a {
            border-radius: 100px;
        }
    }
    .catIcon {
      width: calc( var(--font-size-S) * 2); 
      height: calc( var(--font-size-S) * 2);   
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--layoutGap) / 2);
}

.previewSizeXL,
.previewSizeL {
    .tags {
        position: absolute;
        top: calc(var(--layoutGap) / 2);
        left: calc(var(--layoutGap) / 2);
        right: calc(var(--layoutGap) / 2);
    }
}