#main {
    container-name: mainContainer;
    container-type: inline-size;
    width: 100%;
    padding-bottom: var(--layoutGap);
    overflow: hidden;
}
.articleIsSunset {
  filter: blur(5px);
  opacity: 0.5;
  pointer-events: none;
}
/* When the sidebar is on the left side. push the main stuff to the left */
@media (min-width: 48rem) {
  #main {
    padding-left: var(--siteSideBarWidth);
  }
}
/* when the sidebar is on top, push the main a little bit down */
@media (max-width: 48rem) {
  #main {
    padding-top: var(--siteSideBarWidth);
  }
}
.bodyNews #main {
  padding-bottom: calc( var(--layoutGap) * 5 );
}