footer {
    min-height: 50vh;
    background-color: var(--colorES-brand-blue);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--layoutGap);
    @media (min-width: 1023px) {
        grid-template-columns: repeat(6, minmax(0, 1fr));
        
    }
    padding: 5vw var(--layoutGap);

    .listTitle {
        margin-top: 0;
        font-size: var(--font-size-L);
        font-family: var(--font-display);
        font-weight: var(--font-bold);
        color: var(--txtInvertColor);
    }

    .entryList {
        margin: 0;
        li {
            a {
                font-size: var(--font-size-M);
                line-height: calc(var(--line-height-base) * 1);
                color: var(--txtInvertColor);
                text-decoration: none;
                &:visited {
                    color: var(--linkTxtColorVisited);
                }
                &:hover {
                    color: var(--linkTxtHoverColor);
                    text-decoration: underline;
                }
            }
        }

    }
    .latestArticles {
        @media (min-width: 1023px) {
            grid-column: span 2;
        }
    }
    .footerCategories {
        line-height: calc(var(--line-height-base) * 1.2);
    }
    .footerContact {
        @media (max-width: 1023px) {
            text-align: center;
            padding: 10vw;
        }
        p {
            color: var(--txtInvertColor);
            font-size: var(--font-size-S);
            font-family: var(--font-default);
            line-height: 1.4;
            margin: 0;
        }
        a {
            text-decoration: underline;
        }
        h3, h4, strong, b {
            color: var(--txtInvertColor);
            font-size: var(--font-size-M);
            font-family: var(--font-display);
            color: var(--txtInvertColor);
            margin: 0;
        }
    }
}