footer {
    min-height: 50vh;
    background-color: var(--colorES-brand-blue);
    padding-top: calc(var(--layoutGap) * 3);
    padding-bottom: calc(var(--layoutGap) * 6);
    @media (min-width: 1024px) {
        padding-left: var(--siteSideBarWidth);
    }
    p, li a {
        color: var(--txtInvertColor);
        font-family: var(--font-default);
        font-size: var(--font-size-M);
    }
    li a {
        text-decoration: none;
        &:hover {
            color: var(--linkTxtHoverColor);
        }
    }
    .listTitle {
        color: var(--txtInvertColor);
        font-family: var(--font-display);
        font-size: var(--font-size-L);
    }
    @media (max-width: 830px) {
       .footerContact {
            text-align: center;
        }
    }
}