.siteHeader {
  background-color: pink;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Container query: separate block */
@container mainContainer (max-width: 1024px) {
  .siteHeader {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
  }

  .siteHeader .esBrandLink {
    width: 200px;
  }
}
