.esBrandLink {
    padding-bottom: var(--layoutGap);
    display: block;
    transform: rotate(-90deg) translateY(0);
    transform-origin: 25% -170%;
    padding: 0;
    white-space: nowrap;
    path {
        fill: var(--txtInvertColor);
    }

    font-size: var(--font-size-XL);
    font-family: var(--font-display);
    font-weight: var(--font-bold);
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white
}
/* .irBranding {
    position: fixed;
    top: 100px;
    @media (min-width: 1024px) {
        top: var(--layoutGap);
    }
    z-index: 1000;
    right: var(--layoutGap);
    width: clamp(80px, 15vw, 20vw);
    svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
} */