.tag {
    background-color: var(--colorES-brand-blue);
    font-family: var(--font-display);
    white-space: nowrap;
    font-size: var(--font-size-S);
    padding: 9px 14px 11px;

    a {
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        color: var(--txtColor);
        &:hover {
            opacity: 0.6;
        }
    }
    &.invert, &.invert a {
        color: var(--txtInvertColor);
    }
    &.subject {
        background-color: var(--colorES-subject);
        border-radius: 100px;
    }

    &.genre {
        background-color: var(--colorES-genre);
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--layoutGap) / 2);
}

.previewSizeXL,
.previewSizeL {
    .tags {
        position: absolute;
        top: var(--layoutGap);
        right: var(--layoutGap);
    }
}