footer {
    min-height: 50vh;
    background-color: var(--colorES-brand-blue);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--layoutGap);
    @media (min-width: 1023px) {
        grid-template-columns: repeat(6, minmax(0, 1fr));
        
    }
    padding: 5vw var(--layoutGap);

    a {
        color: var(--txtInvertColor);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .listTitle {
        margin-top: 0;
        font-size: var(--font-size-L);
        font-family: var(--font-display);
        font-weight: var(--font-bold);
        line-height: var(--line-height-base);
        color: var(--txtInvertColor);
    }

    .entryList li {
        font-size: var(--font-size-S);
        font-family: var(--font-default);
        line-height: var(--line-height-base);
        padding: 0;
        border-color: var(--txtInvertColor);
    }
    .tag {
        line-height: 3;
    }
    .latestArticles {
        @media (min-width: 1023px) {
            grid-column: span 2;
        }
    }
    .footerContact {
        @media (max-width: 1023px) {
            text-align: center;
            padding: 10vw;
        }
        p {
            color: var(--txtInvertColor);
            font-size: var(--font-size-S);
            font-family: var(--font-default);
            line-height: 1.4;
            margin: 0;
        }
        a {
            text-decoration: underline;
        }
        h3, h4, strong, b {
            color: var(--txtInvertColor);
            font-size: var(--font-size-M);
            font-family: var(--font-display);
            color: var(--txtInvertColor);
            margin: 0;
        }
    }
}