#app {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  container-type: inline-size;
  container-name: appContainer;
  background: var(--colorArticleBG);
}

@media (max-width: 1024px) {
  #app {
    background: red;
    flex-direction:column;
  }
}