p, li, a {
    font-family: var(--font-default);
    font-weight: var(--font-regular);
    font-size: var(--font-size-base);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
    font-weight: var(--font-bold);
}
ul {
    li {
        font-size: var(--font-size-base);
        line-height: var(--line-height-base);
    }
}
a, .buttonTxt {
   text-decoration-thickness: 3px;
   text-decoration-color: var(--colorLink);
   text-decoration-line: underline;
   transition: all 0.2s ease-in-out;
   &:hover, &:visited {
       text-decoration-color: var(--colorLinkHover);
       text-decoration-thickness: 5px;
       cursor: pointer;
   }
}
.articleHeadTitle {
    h1 {
        font-size: var(--font-size-XXL);
    }
}
article {
    p {
        font-size: var(--font-size-M);
        line-height: var(--line-height-base);
        color: var(--colorText);
    }
    h3 {
        font-size: var(--font-size-L);
        line-height: var(--line-height-base);
        color: var(--colorText);
    }
}