:root {
    
    --font-default: "adobe-aldine", sans-serif;
    --font-display: "canada-type-gibson", sans-serif;
    --font-regular: 400;
    --font-bold: 600;

    /* clamp(min, preferred, max) */
    --font-size-base: 62.5%;

    --font-size-XXL: clamp(3rem, 4vw, 5rem);
    --font-size-XL: 2.7rem;
    --font-size-L: clamp(2.3rem, 2.7rem, 4rem);
    --font-size-M: 2.3rem;
    --font-size-S: 1.6rem;
    --font-size-XS: 1.3rem;
    --font-size-XXS: 1rem;
    --line-height-base: 3.1rem;

    --siteHeadWidth: 75px;
    --layoutGap: var(--font-size-M);
    --airGap: calc(var(--font-size-M) * 0.5);
    @media (min-width: 37rem) {
        --airGap: calc(var(--font-size-M) * 3);
    }

    /* 90vw on mobile */
    --articleMaxWidth: 100rem;
    --listingMaxWidth: 145rem;


    --navSpeed: 0.2s;

    --linkTxtColor: var(--colorES-brand-blue);
    --linkTxtHoverColor: rgb(240, 179, 80);
    --linkBgColor: var(--colorES-brand-blue-soft);
    --linkBgHoverColor: var(--colorES-brand-blue);
    --linkTxtColorVisited: grey;

    --txtColor: rgb(86, 86, 86);
    --txtInvertColor: white;

    --backgroundColor: rgb(240, 240, 240);
    --colorPreviewCard: white;

    --colorES-brand-blue: rgb(28, 112, 183);
    --colorES-brand-blue-soft: rgb(245, 251, 255);
    --colorES-brand-petrol: rgb(0, 201, 190);
    --colorES-subject: rgb(249, 194, 0);
    --colorES-genre: rgb(48, 141, 192);

    --shadow: 1px 3px 15px 1px rgba(0,0,0,0.05);

}
