:root {
    
    --font-default: "canada-type-gibson", sans-serif;
    --font-display: "canada-type-gibson", sans-serif;
    --font-regular: 300;
    --font-bold: 600;
    
    --font-size-base: 1rem; /* 16px */
    --font-size-XXL: 4rem; /* var(--layoutGap) */
    --font-size-XL: 2.8rem; /* 14px */
    --font-size-L: 1.8rem; /* 12px */
    --font-size-M: 1.4rem; /* 10px */
    --font-size-S: 0.9rem; /* 8px */
    --font-size-XS: 0.375rem; /* 6px */
    --font-size-XXS: 0.25rem; /* 4px */
    --line-height-base: 1.7;

    --siteHeadWidth: 75px;
    --layoutGap: 20px;
    --layoutMaxWidth: 1200px;

    --colorLink: green;
    --colorLinkHover: darkgreen;
    --colorText: rgb(39, 39, 39);
    --colorTextInvert: white;

    --colorArticleBG: rgb(255, 249, 244);

    --colorES-brand-blue: #1c70b7;
    --colorES-brand-petrol: #00c9be;
    --colorES-subject: #f9c200;
    --colorES-genre: #308dc0;)
    
}