:root {
    
    --font-default: "freight-text-pro", serif;
    --font-display: "work-sans", sans-serif;
    --font-monospace: "aglet-mono", mono;
    --font-regular: 400;
    --font-bold: 700;

    /* clamp(min, preferred, max) */
    --font-size-base: 62.5%;

    --font-size-XXL: clamp(3rem, 4vw, 5rem);
    --font-size-XL: 3.7rem;
    --font-size-L: 2.5rem;
    --font-size-M: 2.2rem;
    --font-size-S: 1.6rem;
    --font-size-XS: 1.3rem;
    --font-size-XXS: 1rem;
    --line-height-base: 3rem;

    --siteSideBarWidth: 75px;
    --layoutGap: var(--font-size-M);
    --airGap: calc(var(--font-size-M) * 0.5);
    @media (min-width: 37rem) {
        --airGap: calc(var(--font-size-M) * 3);
    }

    /* 90vw on mobile */
    --maxContentWidth: 120rem;
    --listingMaxWidth: 145rem;
    --headerNoImageHeight: 40vh;
    --headerFigureHeight: 80vh;

    --navSpeed: 0.2s;
    --paddingBtnSmall: 4px 9px 6px;

    /* Links without background */
    --linkTxtColor: rgb(70, 139, 195);
    --linkTxtHoverColor: var(--colorES-brand-blue);
    --linkTxtActiveColor: var(--linkTxtColor);

    /* Links with background */
    --linkBgTxtColor: white;
    --linkBgColor: var(--linkTxtColor);
    --linkBgHoverColor: var(--colorES-brand-blue);
    --linkBgTxtHoverColor: var(--linkBgTxtColor);

    --linkTxtColorVisited: var(--colorES-brand-blue-soft);
    --linkDescorationThikness: 2px;

    --txtColor: rgb(86, 86, 86);
    --txtInvertColor: white;

    --backgroundColor: rgb(240, 240, 240);
    --colorPreviewCard: white;
    --radiusPreviewCard: 4px;

    --color-highlight-soft: rgb(227, 227, 227);
    --color-highlight-strong: var(--colorES-brand-blue);

    --colorES-brand-blue: rgb(28, 112, 183);
    --colorES-brand-blue-soft: rgb(152, 189, 212);
    --colorES-brand-petrol: rgb(0, 201, 190);
    --colorES-subject: rgb(251, 167, 82);
    --colorES-genre: rgb(48, 141, 192);

    --colorEs-alert: rgb(216, 134, 34);

    --shadow: 0 1px 2px 0 rgba(0,0,0,0.08);

}
