{% import '_macros/macroImage' as imgMacro %}

<div class="articleHeadImg">
	{% set aufmacherBild = entry.fArticleImgI18n.one() %}
	{{ imgMacro.articleImage(aufmacherBild, 'articleStarterImg', 'imgHeader') }}
</div>

<div class="articleHeadTitle gridArticle">

	<h1 class="gridStart2 gridSpan10">{{ entry.title }}</h1>

	{% include "_components/articleHeadAuthors" %}
	<p class="gridStart2 gridSpan10">{{ entry.postDate | date('j. F Y') }}</p>
	{% include "_components/articleHeadCat" %}

	{# Lead Text #}
	<h3 class="gridStart2 gridSpan10">{{ entry.fPlainTextI18nMultiline }}</h3>

</div>
