{% import '_macros/macroImage' as macro %}

{% set image = block.fArticleImgI18n.all() %}



{% for asset in image %}
    <div class="articleImg">
        {{ macro.articleImage(asset, 'articleImage') }}
        {% if block.fPlainTextI18nMultiline %}
            {{ block.fPlainTextI18nMultiline }}
        {% endif %}
    </div>
{% endfor %}