{# This is the head component of all articles #}

<div class="siteHeader">
	<div class="branding">
		Inforaum by EspaceSuisse
		<br>
		Educate, not Indoctrinate
	</div>
	{% include "_partials/siteNav" %}
</div>
