{% import '_macros/macroLinkList' as listMacro %}

{% set queryFooterSubject = craft.categories.group('catSubject')
	.with(['title','url'])
	.relatedTo({ sourceElement: craft.entries.section('article') })
	.all() %}

{% set queryFooterGenre = craft.categories.group('catGenre')
	.with(['title','url'])
	.relatedTo({ sourceElement: craft.entries.section('article') })
	.all() %}

{% set querySubpages = craft.entries.section('subpages')
    .with(['title','url'])
    .all()
%}

{% set queryLatestArticle = craft.entries.section('article')
    .with(['title','url',])
    .limit('10')
    .all()
%}


<footer>

    <div>
        <p class="footerContact">
            <strong>EspaceSuisse</strong> <br>
            Verband für Raumplanung <br>
            Sulgenrain 20 <br>
            CH 3007 Bern <br>

            T: <a href="tel:"+41 380 + 76 76>+41 380 + 76 76</a> <br>
            M: <a href="mailto:info@espacesuisse.ch">info@espacesuisse.ch</a>
        </p>
    </div>

    <div>{{ listMacro.listMacro(queryFooterSubject, labelSubject) }}</div>
    <div>{{ listMacro.listMacro(queryFooterGenre, labelGenre) }}</div>
    <div class="gridSpan2 footerArticles">{{ listMacro.listMacro(queryLatestArticle, 'Die letzten Einträge') }}</div>
    <div>{{ listMacro.listMacro(querySubpages, null) }}</div>
</footer>