{# This is the head component of all articles #}


<div class="siteHeader">
	{% include "_partials/siteNav" %}
	<a href="https://www.espacesuisse.ch/" class="esBrandLink hideOnMobile">
		{{ svg('@webroot/theme/img/logo-espacesuisse-simple.svg')|raw }}
	</a>
</div>

<a class="irBranding" href="/" aria-label="{{ 'Home' | t }}">
	{{ svg('@webroot/theme/img/inforaum-logo-2.svg')|raw }}
</a>