{# This is the head component of all articles #}

<div class="siteHeader">
	{# <div class="irBranding">
		<img src="https://placehold.co/400x400" alt="">
		<p>Educate, dont indoctrinate</p>
	</div> #}
	{% include "_partials/siteNav" %}
	{# <a href="https://www.espacesuisse.ch/" class="esBrandLink">
		<img src="/theme/img/logo-espacesuisse-simple.svg" alt="EspaceSuisse Website">
	</a> #}
</div>
