.articleHead {
  position: relative;

  .topicTitle {
    font-size: var(--font-size-XXL);
    font-family: var(--font-display);
    font-weight: var(--font-bold);
    line-height: 1.2;
    margin: 0;
    hyphens: none;
  }
  &.noImg {
    padding-top: 1px;
    .headerCard {
      margin-top: calc( var(--headerNoImageHeight) - 10vh  );
    }
    .colorHead {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc( var(--headerNoImageHeight) );
      background-color: var(--colorES-brand-blue);
      z-index: -1;
    }
  }

  .articleHeadImg {
    width: 100%;
    max-height: var(--headerFigureHeight);
    overflow: hidden;
    position: relative;
    box-shadow: var(--shadow);

    img {
      object-fit: cover;
      object-position: center;
      display: block;
    }

    figcaption {
      padding: 4px;
      position: absolute;
      text-align: right;
      z-index: 100;
      bottom: calc( var(--articleHeadChute) * -1 );
      right: 0;
      p {
        font-size: var(--font-size-S);
        font-family: var(--font-default);
        margin-top: var(--layoutGap);
        background-color: var(--txtInvertColor);
        margin: 0;
        padding: 0;
      }
    }
  }
}
@media (min-width: 63rem) {
  .articleHead .articleHeadImg figcaption {
    top: calc( var(--layoutGap) * 2);
  }
}

.articleHeadTitleCard {
  position: relative;
  margin-bottom: calc(var(--layoutGap) * 2);
  margin-top: var(--articleHeadChute);
  &.noImg {
    margin-top: 50vh;
  }
  .headCardGrid {
    display: grid;
    grid-template-columns: subgrid;
    row-gap: var(--layoutGap);
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 73%, rgba(255, 255, 255, 0) 100%);
    grid-column: 1/-1;
    padding: calc(var(--layoutGap) * 3) 0;
  }
}
@media (max-width: 63rem) {
  .articleHeadTitleCard {
    .headCardGrid {
      padding: calc(var(--layoutGap) * 1.5);
    }
  }
}