.headerCard {

    .articlePostDate {
        font-size: var(--font-size-S);
        font-family: var(--font-default);
        margin: 0;
    }
    .headMeta {
        display: flex;
        gap: var(--layoutGap);
        font-family: var(--font-default);
        font-size: var(--font-size-S);
        justify-content: space-between;
        p {
                margin: 0;
                padding: 0;
            }
        @media (max-width: 48rem) {
            flex-direction: column;

            
        }
    }

    .headMetaFooter {
        display: flex;
        gap: var(--layoutGap);
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .accessMessage {
    }
    .articleId {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: var(--txtInvertColor);
        font-family: var(--font-default);
        font-size: var(--font-size-S);
        padding: 3px;
    }
}
.sectionFilter {
    display: flex;
    gap: var(--layoutGap);
    a {
        font-family: var(--font-display);
        font-size: var(--font-size-M);
        color: var(--linkTxtColor);
        text-decoration-thickness: var(--linkDescorationThikness);
        &:hover, &:visited, &.active {
            color: var(--linkTxtHoverColor);
            border-color: var(--linkTxtHoverColor);
            text-decoration: none;
        }
    }

}
.accessMessage {
    font-size: var(--font-size-S);
    font-family: var(--font-display);
    a {
        color: var(--linkTxtColor);
        text-decoration-thickness: var(--linkDescorationThikness);
        &:hover {
            color: var(--linkTxtHoverColor);
            text-decoration: none;
            opacity: 1;
        }
    }
}