.articleHead {
  position: relative;

  .topicTitle {
    font-size: var(--font-size-XXL);
    font-family: var(--font-display);
    font-weight: var(--font-bold);
    line-height: 1.2;
    margin: 0;
    hyphens: none;
  }
  &.noImg {
    padding-top: 1px;
    .headerCard {
      margin-top: calc( var(--headerNoImageHeight) - 10vh  );
    }
    .colorHead {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc( var(--headerNoImageHeight) );
      background-color: var(--colorES-brand-blue);
      z-index: -1;
    }
  }

  .topicLead {
    font-size: var(--font-size-L);
    font-family: var(--font-default);
    font-weight: var(--font-bold);
    font-style: italic;
    line-height: 1.4;
    margin: 0;
  }

  .articleHeadImg {
    width: 100%;
    max-height: var(--headerFigureHeight);
    overflow: hidden;
    position: relative;
    box-shadow: var(--shadow);

    img {
      object-fit: cover;
      object-position: center;
      display: block;
    }

    figcaption {
      position: absolute;
      right: 10px;
      top: 10px;
      background-color: var(--txtInvertColor);
      padding: 4px;
      p {
        font-size: var(--font-size-S);
        font-family: var(--font-default);
        margin-top: var(--layoutGap);
        margin: 0;
        padding: 0;
      }
    }
  }
}

.articleHeadTitleCard {
  position: relative;
  background-color: var(--colorPreviewCard);
  padding-bottom: calc(var(--layoutGap) * 2);
  margin-bottom: calc(var(--layoutGap) * 2);
  margin-top: -100px;
  box-shadow: var(--shadow);
  padding-top: calc(var(--layoutGap) * 3);
  &.noImg {
    margin-top: 50vh;
  }
}