# Read about configuration, here:
# https://craftcms.com/docs/5.x/configure.html

# The application ID used to to uniquely store session and cache data, mutex locks, and more
CRAFT_APP_ID=CraftCMS--45697801-b286-4eaf-9995-99a99fbcd439

# The environment Craft is currently running in (dev, staging, production, etc.)
CRAFT_ENVIRONMENT="dev"

# Database connection settings
CRAFT_DB_DRIVER="mysql"
CRAFT_DB_SERVER="db"
CRAFT_DB_PORT="3306"
CRAFT_DB_DATABASE="db"
CRAFT_DB_USER="db"
CRAFT_DB_PASSWORD="db"
CRAFT_DB_TABLE_PREFIX=

# General settings
CRAFT_SECURITY_KEY="hsvbdljshgdvfsljdhfv"
CRAFT_DEV_MODE=true
CRAFT_ALLOW_ADMIN_CHANGES=true
CRAFT_DISALLOW_ROBOTS=true
CP_TRIGGER=""
MAILPIT_SMTP_HOSTNAME="127.0.0.1"

MAIN_URL="https://publishing-es.ddev.site"
MAIN_PATH="/var/www/html/web"

CRAFT_WEB_ROOT="${MAIN_PATH}"

PRIMARY_SITE_URL="${MAIN_URL}"
SITE_URL_FR="${MAIN_URL}/fr/"

ASSET_SITE_URL="${MAIN_URL}/assets"
ASSET_SITE_ROOT="${MAIN_PATH}/assets"

CRAFT_QUEUE_RUNNER=true

MAX_UPLOAD_FILE_SIZE=""
TIMEZONE="Europe/Zurich"

# E-Mail Settings
SMTP_SERVER=""
SMTP_EMAIL=""
SMTP_PASSWORD=""
SMTP_PORT=""
POP_SERVER=""
POP_PORT=""

#cloudflare
CLOUDFLARE_GLOBAL_API=""
CLOUDFLARE_ZONE_ID="" 
CLOUDFLARE_EMAIL=""
CLOUDFLARE_API_TOKEN=""

MANAGEPLUS_API_ENDPOINT=""
MANAGEPLUS_SHARED_USER_EMAIL=""
MANAGEPLUS_LOG_USAGE=true