{% import '_macros/macroImage' as imgMacro %}

{% set relEntryQuery = block.fRelEntry.all() %}


{% for item in relEntryQuery %}
    
    {% if item.status == 'live' %}

        {% set img = item.fImgI18n.one() %}
        
            {{ imgMacro.articleImage(img, 'articleThumb') }}
            <a href="{{ item.url }}">
                <p>{{ 'Lesen Sie dazu auch' | t }}</p>
                <h3 class="relatedEntryTitle">{{ item.title }}</h3>
            </a>

    {% endif %}

{% endfor %}