{% import '_macros/macroImage' as imgMacro %}
{% import '_components/previewCards/macroPreviewArticle' as macroPreview %}

{% set relEntryQuery = block.fRelEntry.all() %}


{% for item in relEntryQuery %}
    
    {% if item.status == 'live' %}

        {% set img = item.imgAufmacher.one() %}

            <a href="{{ item.url }}" class="cellRelEntry">
                <div class="imgPart">
                    {{ imgMacro.articleImage(img, 'articleThumb') }}
                </div>
                <div class="txtPart">
                    <p class="relEntryHeadMeta">{{ 'Lesen Sie dazu auch' | t }}:</p>
                    <h3 class="relatedEntryTitle">{{ item.title }}</h3>
                </div>
            </a>

    {% endif %}

{% endfor %}