{% set mapLatitude = block.fLat %}
{% set mapLongitude = block.fLong %}
{% set mapZoom = block.fZoom ?? '10' %}
{% set mapLayer = block.fPlainTxt %}
{% set polygonPath = block.fCode.value ?? '' %}
{% set markerEnabled = block.fSwitch ?? false %}

<div id="map-{{ block.id }}" class="cellMap"></div>

<script type="module">

    {% include "_components/articleBlocks/cellMap/cellMapImports.twig" %}
    
    {% include "_components/articleBlocks/cellMap/cellMapBasic.twig" %}
  

    {% include "_components/articleBlocks/cellMap/cellMapPolygonDraw.twig" %}
    {% include "_components/articleBlocks/cellMap/cellMapMarker.twig" %}


</script>
