.previewCard {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto minmax(0, 1fr);
    .previewTitle {
        margin: 0;

        a {
            font-family: var(--font-display);
            font-weight: var(--font-bold);
            font-size: var(--font-size-L);
            color: var(--txtColor);
            line-height: var(--line-height-display);
            margin: 0;
            text-decoration: none;

            &:hover {
                color: var(--linkTxtHoverColor);
            }
        }
    }

    .imgPart {
        display: flex;
        picture {
            background-color: var(--linkTxtHoverColor);
            display: flex;
            width: 100%;
            img {
                transition: all 0.1s ease-in-out;
                height: 100%;
                width: 100%;
                object-fit: cover;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
    @media (min-width: 79rem) { 
        .imgPart { 
            aspect-ratio: 16/9;
         } 
    }  /* desktop */

    .txtPart {
        display: flex;
        flex-direction: column;
        min-height: 0;
        align-self: stretch;
        &.noImg {
            grid-column: 1 / -1;
        }
        .txtOverview {
            padding: var(--layoutGap);
        }
    }

    .lead {
        font-size: var(--font-size-M);
        font-family: var(--font-default);
        line-height: var(--line-height-base);
        color: var(--txtColor);
        margin: 0;
    }

    .sunsetHint {
        font-size: var(--font-size-S);
        font-family: var(--font-default);
        margin: 0;
    }
    .btnCard {
        margin-left: auto;
    }
    .tag {
        font-size: var(--font-size-XS);
    }
    .previewMetaHeader, .previewMetaFooter {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        width: 100%;
        gap: calc( var(--layoutGap) / 2);
        .postDate {
            margin-right: auto;
            margin-top: 0;
        }
        .btnGotoRead {
            margin-left: auto;
        }
    }
    @media (min-width: 48rem ) and (max-width: 68rem)  {
        .previewMetaHeader, .previewMetaFooter {
            flex-direction: column;
        }
    }
    .previewMetaFooter {
        margin-top: auto;
        padding-top: calc(var(--layoutGap) / 2);
    }
    &.subjectCard {
        border-radius: 8px;
    }
}