.previewArticle, .previewNews {
    background-color: var(--colorPreviewCard);
    border-radius: var(--radiusPreviewCard);
    box-shadow: var(--shadow);
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto minmax(0, 1fr);
}
.authorName {
        font-family: var(--font-default);
        font-size: var(--font-size-S);
        margin: 0;
        display: flex;
        align-items: baseline;
        gap: calc( var(--layoutGap) / 2 );
        .linkedinIcon {
            width: 15px;
            opacity: 0.5;
            line-height: 1;
            &:hover {
                opacity: 1;
            }
        }
}