{% extends "_layouts/main" %}

{% import '_components/previewCards/macroArticlePreviewXL' as macroPreviewXL %}
{% import '_components/previewCards/macroArticlePreviewL' as macroPreviewL %}
{% import '_components/previewCards/macroArticlePreviewS' as macroPreviewS %}

{% block content %}

	{% set allEntries = craft.entries().section('article').relatedTo(category).all()  %}
	{% set genre = craft.categories.group('catGenre').all() %}
	{% set subject = craft.categories.group('catSubject').all() %}

	{# Display All Subject Category in Use. Unassigned Items will not be displayed #}
	<div class="listingGrid">
		{% include "_components/listingHeader.twig" %}
		<section class="headliner">
			{% set headliner = allEntries | first %}
			{{ macroPreviewXL.listMacro(headliner,'gridStart1 gridSpan12') }}
		</section>
		<section class="teaser">
			{% for item in allEntries | slice(1, 3) %}
				{{ macroPreviewS.listMacro(item,'gridSpan4') }}
			{% endfor %}
		</section>
		<section class="latest">
			{% for item in allEntries | slice(6, 20) %}
				{{ macroPreviewL.listMacro(item,'gridSpan6') }}
			{% endfor %}
		</section>
	</div>

{% endblock %}
