{% extends "_layouts/main" %}

{% import '_components/previewCards/macroArticlePreview' as macroArticlePreview %}

{% block content %}

	{% set allEntries = craft.entries()
		.section('article')
		.relatedTo(category)
		.with(['fCatGenre', 'fCatSubject'])
		.limit(null)
		.all()
	%}

	{% set genre = craft.categories.group('catGenre').all() %}
	{% set subject = craft.categories.group('catSubject').all() %}

	{# Display All Subject Category in Use. Unassigned Items will not be displayed #}
	<div class="listingGrid">
		{% include "_components/brandHeader.twig" %}
		<h1 class="topicTitle gridSpan12">{{ category.title }}</h1>
		{% if category.fRichTextI18n %}
			<div class="topicLead gridSpan12">
				{{ category.fRichTextI18n }}
			</div>
		{% endif %}
		
		{% for item in allEntries | slice(0,1) %}
				{{ macroArticlePreview.listMacro(item,'gridSpan12', 'gridSpan12 gridMdSpan4 gridLgSpan7', 'gridSpan12 gridMdSpan8 gridLgSpan5') }}
		{% endfor %}
		{% for item in allEntries | slice(1, null) %}
				{{ macroArticlePreview.listMacro(item,'gridSpan12 gridMdSpan6', 'gridSpan12', 'gridSpan12') }}
		{% endfor %}
	</div>

{% endblock %}
