{% extends "_layouts/main" %}

{% block content %}

	{% set author = craft.users.username(craft.app.request.getSegment(2)).one() %}

	{% do seomatic.meta.seoTitle(author.name ~ ' – Autor') %}
	{% do seomatic.meta.seoDescription('Alle Artikel von ' ~ author.name ~ ' auf unserer Website.') %}

	{% if author.photo %}
		{% do seomatic.meta.ogImage(author.photo.url) %}
	{% endif %}

    {# Whats missing here still: cannonical url not correct + nav language switcher not working here #}

	{% if author %}
		<h1>{{ 'Artikel von' | t }} {{ author.name }}</h1>
		{% set articles = craft.entries.section('article').authorId(author.id).all() %}

		{% for article in articles %}
			<article>
				<h2>
					<a href="{{ article.url }}">{{ article.title }}</a>
				</h2>
			</article>
		{% else %}
			<p>Keine Artikel gefunden.</p>
		{% endfor %}
	{% else %}
		<p>Autor nicht gefunden.</p>
	{% endif %}


{% endblock %}
