<h1>{{ category.title }}</h1>

{# Fetch all entries related to this category #}
{% set entries = craft.entries()
  .relatedTo(category)
  .all() %}

{# Output them #}
{% for entry in entries %}
  <a href="{{ entry.url }}">{{ entry.title }}</a>
{% endfor %}
