{% extends "_layouts/main" %}

{% import '_components/previewCards/macroPreviewArticle' as macroPreview %}
{% import '_macros/macroCatOverview' as macroCat %}

{% block content %}

	{% set catGenre = craft.categories()
		.group('catGenre')
		.relatedTo({ sourceElement: articleIds })
		.all()
	%}

	{% set catSubject = craft.categories()
		.group('catSubject')
		.relatedTo({ sourceElement: articleIds })
		.all()
	%}

	{% set allEntries = craft.entries()
		.section('article')
		    .with(articleEagerLoad)
		.limit(null)
		.all()
	%}

	{% set goToAllNews = craft.entries.section('listingNews').one() %}

	{# --- Layout config --- #}
	{% set sliceA = 2 %}
	{% set sliceB = 6 %}
	{% set sliceC = 4 %}

	{# Offsets calculate themselves #}
	{% set offsetB = sliceA %}
	{% set offsetC = sliceA + sliceB %}
	{% set offsetD = sliceA + sliceB + sliceC %}

	<div class="listingGrid listingSection">
		{% include "_components/header/headerBrand" %}
		
		{% for item in allEntries | slice(0, sliceA) %}
			{{ macroPreview.listMacro(item,'gridSpan12',' gridSpan12 gridMdSpan4','gridSpan12 gridMdSpan8') }}
		{% endfor %}
		{% for item in allEntries | slice(offsetB, sliceB) %}
				{{ macroPreview.listMacro(item,'gridSpan12 gridMdSpan6 gridLgSpan4','gridSpanFull','gridSpanFull') }}
		{% endfor %}
	</div>
		{% include "_components/indexNewsTeaser.twig" %}
		{% include "_components/listingSuperTopic" %}
		{% include "_components/listingCatList" %}
	<div class="listingGrid listingSection">
		{% for item in allEntries | slice(offsetC, sliceC) %}
			{{ macroPreview.listMacro(item,'gridSpan12 gridMdSpan6 gridMdSpan4','gridSpanFull','gridSpanFull') }}
		{% endfor %}
	</div>
	<div class="listingGrid listingSection">
		{% for item in allEntries | slice(offsetD) %}
			{{ macroPreview.listMacro(item,'gridSpan12',' gridSpan12 gridMdSpan4','gridSpan12 gridMdSpan8') }}
		{% endfor %}
	</div>

	
{% endblock %}
