{% extends "_layouts/main" %}

{% import '_macros/mArticlePreviewXL' as macroPreviewXL %}
{% import '_macros/mArticlePreviewL' as macroPreviewL %}
{% import '_macros/mArticlePreviewS' as macroPreviewS %}

{% block content %}

	{% set allEntries = craft.entries.section('article').all() %}
	{% set genre = craft.categories.group('catGenre').all() %}
	{% set subject = craft.categories.group('catSubject').all() %}


	<div class="listignGrid">
		<section class="headliner">
			{% set headliner = allEntries | first %}
			{{ macroPreviewXL.listMacro(headliner,'gridStart1 gridSpan12') }}
		</section>
		<section class="teaser">
			{% for item in allEntries | slice(1, 3) %}
				{{ macroPreviewS.listMacro(item,'gridSpan4') }}
			{% endfor %}
		</section>
		<section class="latest">
			{% for item in allEntries | slice(6) %}
				{{ macroPreviewL.listMacro(item,'gridSpan6') }}
			{% endfor %}
		</section>
	</div>

{% endblock %}
