{% extends "_layouts/main" %}

{% import '_components/previewCards/macroArticlePreviewXL' as macroPreviewXL %}
{% import '_components/previewCards/macroArticlePreviewL' as macroPreviewL %}
{% import '_components/previewCards/macroArticlePreviewS' as macroPreviewS %}
{% import '_macros/macroCatOverview' as macroCat %}

{% block content %}

	{% set catGenre = craft.categories()
		.group('catGenre')
		.relatedTo({ sourceElement: craft.entries.section('article').ids() })
		.all()
	%}

	{% set catSubject = craft.categories()
		.group('catSubject')
		.relatedTo({ sourceElement: craft.entries.section('article').ids() })
		.all()
	%}

	{% set allEntries = craft.entries()
		.section('article')
		.with(['fCatGenre', 'fCatSubject'])
		.limit(null)
		.all()
	%}

	{% set newsEntries = craft.entries.section('news').limit(3).all() %}
	{% set goToAllNews = craft.entries.section('listingNews').with(['title','url']).one() %}

	<div class="listingGrid listingSection">
		{% include "_components/listingHeader.twig" %}
		
		{% for item in allEntries | slice(0,1) %}
			{{ macroPreviewXL.listMacro(item,'gridSpan12') }}
		{% endfor %}
		{% for item in allEntries | slice(1,2) %}
				{{ macroPreviewL.listMacro(item,'gridSpan6') }}
		{% endfor %}
		{# {% include "_components/indexNewsTeaser.twig" %} #}
	</div>
		{% include "_components/listingSuperTopic" %}
		{% include "_components/listingCatList" %}
	<div class="listingGrid listingSection">
		{% for item in allEntries | slice(4,4) %}
			{{ macroPreviewL.listMacro(item,'gridSpan4') }}
		{% endfor %}
	</div>
	<div class="listingGrid listingSection">
		{% for item in allEntries | slice(8) %}
			{{ macroPreviewS.listMacro(item,'gridSpan12') }}
		{% endfor %}
	</div>

	
{% endblock %}
