{% extends "_layouts/main" %}

{% import '_components/previewCards/macroPreviewCat' as macroPreview %}

{% block content %}

	{% set allItems = craft.categories()
		.group('catGenre')
		.limit(null)
		.all()
	%}


	

	<header class="pageHead subPageHead">
		{% include "_components/header/headerBrand" %}
		{% include "_components/header/headerPage" %}
	</header>


	<div class="listingGrid">
			{% for item in allItems %}
				{% set hasEntries = craft.entries()
					.relatedTo(item)
					.exists()
				%}
				{% if hasEntries %}
					{{ macroPreview.listMacro(item,'gridSpan12 gridMdSpan6','gridSpan12','gridSpan12 gridMdSpan8') }}
				{% endif %}
			{% endfor %}
	</div>

{% endblock %}
