{% extends "_layouts/main" %}


{% block content %}
	<article>		
		<header class="pageHead subPageHead">
			{% include "_components/brandHeader.twig" %}
			{% include "_components/pageHead" %}
		</header>
		<div class="gridArticle articleContent">
			<div class="gridSpan12">
				<div class="elementPanel">{% include "_components/formNewsletter/mailchimpForm" %}</div>
			</div>
			{% include "_components/articleMatrix" %}
		</div>
	</article>
{% endblock %}
