{% extends "_layouts/main" %}

{% import '_components/previewCards/macroPreviewArticle' as macroPreviewArticle %}

{% block content %}

	{% set allNews = craft.entries()
		.section('news')
		.limit(null)
		.all()
	%}

	{% set listingNews = craft.entries().section('listingNews').one() %}
	

	<header class="pageHead subPageHead">
		{% include "_components/brandHeader.twig" %}
		{% include "_components/pageHead" %}
	</header>
	<div class="listingGrid">
		{% for item in allNews %}
			{{ macroPreviewArticle.listMacro(item,'gridSpan12', 'gridSpan12', 'gridSpan12', true) }}
		{% endfor %}
	</div>

{% endblock %}
