{% extends "_layouts/main" %}

{% import '_components/previewCards/macroArticlePreview' as macroArticlePreview %}

{% block content %}

	{% set allNews = craft.entries()
		.section('news')
		.limit(null)
		.all()
	%}

	{% set listingNews = craft.entries().section('listingNews').one() %}
	

	{# Display All Subject Category in Use. Unassigned Items will not be displayed #}
	<div class="listingGrid">
		{% include "_components/brandHeader.twig" %}
		<h1 class="topicTitle">{{ listingNews }}</h1>
		{% for item in allNews %}
			{{ macroArticlePreview.listMacro(item,'gridSpan12', 'gridSpan12', 'gridSpan12', true) }}
		{% endfor %}
	</div>

{% endblock %}
