{% extends "_layouts/main" %}


{% block content %}
	<article>		
		<header class="pageHead subPageHead">
			{% include "_components/header/headerBrand" %}
			{% include "_components/header/headerPage" %}
		</header>
		<div class="gridArticle articleContent">
			{% include "_components/articleMatrix" %}
		</div>
	</article>
{% endblock %}
