.articleImg {
    position: relative;
    padding-bottom: calc(var(--layoutGap) * 1.5);
    container-type: inline-size; /* Define as a size container */
    container-name: article-img; /* Give it a name for reference */

    picture {
        display: block;
        box-shadow: var(--shadow);
    }

    p {
        margin: 0;
    }
}
.cellImg {
    /* make extra padding for images. needs to be scoped */
    .articleImg {
        padding-top: var(--mediaGap);
        padding-bottom: calc( var(--mediaGap) * 2 );
    }
}

figcaption {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    gap: var(--layoutGap);
    justify-content: flex-end;
    /*
     * This is the CORRECT syntax for a container query.
     * It applies to the figcaption element itself and checks
     * the dimensions of its container named 'article-img'.
     */
    @container article-img (max-width: 65rem) {
        /* Apply styles when the parent .articleImg is smaller than 65rem */
        flex-direction: column;
        gap: 0;
    }
    &:has( .caption ) {
        justify-content: space-between;
    }

    .caption {
        padding-top: 5px;

        p {
            font-size: var(--font-size-S);
            font-family: var(--font-default);
        }
    }

    .assetSource {
        font-size: var(--font-size-XXS);
        font-family: var(--font-default);
        opacity: 0.8;
        min-width: 30%;
        text-align: right;
        @media (max-width: 48rem) {
            text-align: left;
        }
    }
}

.fadeImg img {
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

.fadeImg.loaded img {
  opacity: 1;
}
/* Lightbox styling caption */
.pswp__custom-caption {
    .caption p {
        font-size: var(--font-size-S);
        background-color: black;
        padding: 5px;
    }
    @media (min-width: 48rem) {
        .caption {
            padding-left: var(--layoutGap);
        }
    }
    .assetSource {
        font-size: var(--font-size-XS);
        background-color: black;
    }
}