.cellMapContainer {
    aspect-ratio: 16 / 9;
    box-shadow: var(--shadow);
}
.cellMap {
    margin-bottom: calc(var(--mediaGap) * 1.2);
}
@media (max-width: 768px) {
    .cellMap {
        aspect-ratio: 4 / 5;
    }
}