.cellCard {
    margin: calc( var(--layoutGap) * 2) 0;
    box-shadow: var(--shadow);
    container-type: inline-size;
    a.cellRelEntry {
        text-decoration: none;
        background: var(--colorPreviewCard);
        display: flex;
        gap: var(--layoutGap);
        .imgPart {
            width: 50%;
        }
        .txtPart {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-decoration: none;
            width: 100%;
            .relEntryHeadMeta {
                font-size: var(--font-size-M);
                font-family: var(--font-default);
                margin: 0;
            }
            .metaTitle {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .metaRelEntry {
                padding-bottom: var(--layoutGap);
                width: 100%;
                display: flex;
                gap: 4px;
                .postDate {
                    display: inline;
                    padding: 0;
                    margin: 0;
                }
            }
        }
        &:hover {
            .relEntryHeadMeta, .relatedEntryTitle, .metaRelEntry p {
                color: var(--linkColor);
            }
        }
    }
    @container (max-width: 512px) {
        a.cellRelEntry {
            flex-direction: column;

            .imgPart {
                width: 100%;
            }
            .txtPart {
                padding: var(--layoutGap);
            }
        }
    }
}