.newsTicker {
    box-shadow: var(--shadow);
    background-color: var(--colorPreviewCard);
    display: flex;
    flex-direction: column;
    .newsTickerTitle {
        font-size: var(--font-size-L);
        font-family: var(--font-display);
        font-weight: var(--font-bold);
        padding: var(--layoutGap) var(--layoutGap) 0 var(--layoutGap);
        margin: 0;
    }
    .newsTickerList {
        padding: 0 var(--layoutGap);
        @media (min-width: 512px) {
            overflow-y: auto;
            height: 100%;
        }
    }
    .postDate {
        font-weight: var(--font-regular);
    }
    .newsTickerItem {
        font-size: var(--font-size-M);
        font-family: var(--font-display);
        font-weight: var(--font-bold);
        display: flex;
        flex-direction: column;
        padding-bottom: calc( var(--layoutGap) / 2 );
        a {
            text-decoration: none;
            color: var(--txtColor);
            &:hover {
                text-decoration: underline;
                color: var(--linkTxtHoverColor)
            }
        }
    }
    .newsTickerMeta {
        margin-top: auto;
        align-self: flex-end;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
    }
    .channelLinks {
        padding-bottom: calc( var(--layoutGap) / 2 );
    }
    .rssLink {
        font-family: var(--font-default);
        font-size: var(--font-size-S);
        padding-left: var(--layoutGap);
        color: var(--linkTxtColor)
    }

}