.pageSettingsPanel {
    background-color: var(--colorES-brand-blue);
    position: fixed;
    z-index: 100;
    display: flex;
    top: 0;
    justify-content: flex-end;
    gap: calc(var(--layoutGap) / 2);
    padding: calc(var(--layoutGap) / 2);
    top: 0;
    right: 0;

    ul,
    p {
        margin: 0;
    }

    ul {
        display: flex;
        gap: calc(var(--layoutGap) / 2);
        flex-direction: row;
        flex-wrap: nowrap;
    }

    a, button {
        color: var(--txtInvertColor);
        font-size: var(--font-size-S);
        font-family: var(--font-display);
        font-weight: var(--fontBold);
        text-decoration: none;
    }

    &.isActive a {
        text-decoration: underline;
    }
}
@media (max-width: 48rem) {
        .pageSettingsPanel {
            display: none;
        }
    }