<div class="gridArticle pageContentHead">
	<h1 class="topicTitle gridSpan12">{{ entry.title }}</h1>
	{% if entry.fRichTextI18n %}
		<div class="gridSpan12 topicLead">{{ entry.fRichTextI18n }}</div>
	{% endif %}
</div>