.articlePreview {
    position: relative;
    background-color: var(--colorPreviewCard);
    a {
        text-decoration: none;
        color: inherit;
    }
    .tags {
        position: absolute;
        top: var(--layoutGap);
        left: var(--layoutGap);
        z-index: 1;
    }
}