.articleHead {
  position: relative;
  .articleHeadImg {
    width: 100%; 
    max-height: 80vh;
    overflow: hidden;  
    img {
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }
    .articleAuthors span {
        font-size: var(--font-size-M);
        font-family: var(--font-display);
    }
    .articlePostDate {
        font-size: var(--font-size-S);
        font-family: var(--font-default);
        margin: 0;
    }
    .articleTitle {
        font-size: var(--font-size-XXL);
        font-family: var(--font-display);
        font-weight: var(--font-bold);
        line-height: 1.2;
        margin: 0;
    }
    .articleLeadText {
        font-size: var(--font-size-L);
        font-family: var(--font-default);
        font-weight: var(--font-regular);
        line-height: 1.4;
        margin-bottom: 0;
    }
    .articleHeadDates {
        display: flex;
        gap: var(--layoutGap);
        margin-top: calc(var(--layoutGap));
        font-family: var(--font-default);
        font-size: var(--font-size-S);
    }
    .headMeta {
        display: flex;
        gap: var(--layoutGap);
        flex-wrap: wrap;;
    }
    .articleId {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: var(--txtInvertColor);
      font-family: var(--font-default);
      font-size: var(--font-size-S);
      padding: 3px;
    }
}

.articleHeadTitleCard {
  position: relative;
  background-color: var(--colorPreviewCard);
  padding-bottom: calc(var(--layoutGap) * 2);
  margin-bottom: calc(var(--layoutGap) * 2);
  margin-top: -100px;
}