.articlePreview {
    position: relative;
    background-color: var(--colorPreviewCard);
    border-radius: 3px;
    box-shadow: -6px 10px 5px -6px rgba(0,0,0,0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    h2 a {
        font-family: var(--font-display);
        font-weight: var(--font-bold);
        font-size: var(--font-size-L);
        color: var(--txtColor);
        line-height: 1.2;
        margin: 0;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .txtPart {
        padding: var(--layoutGap);
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .lead {
        font-size: var(--font-size-M);
        line-height: var(--line-height-base);
        color: var(--txtColor)
    }
    .postDate {
        align-self: flex-end;
        margin-top: auto;
    }
}