.shareArticle {
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 30px;
    svg,
    img {
        width: 24px;
        height: 24px;
    }
    .js-share-button {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background-color: var(--colorES-brand-blue);
            border-radius: 100px;
            cursor: pointer;
            line, polyline {
                stroke: white;
            }
        }
    }
}

.tooltipContent {
    display: none;
    &.open {
        position: absolute;
        background: var(--backgroundColor);
        top: 100%;
        left: 50%;
        display: block;
        transform: translateX(-50%);
        width: 100px;
        margin: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        box-shadow: var(--shadow);
    }
    ul {
        li {
            border-bottom: solid 1px var(--txtColor);
            padding-bottom: 5px;
            a {
                text-decoration: none;
                &:hover {
                    color: var(--hoverColor);
                }
            }
        }
    }
}