.shareArticle {
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
    svg,
    img {
        width: 24px;
        height: 24px;
    }
    .js-share-button {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--linkBgColor);
        border-radius: 100px;
        line, polyline {
                stroke: white;
            }
        &:hover {
            background-color: var(--linkBgHoverColor);
        }
    }
}
@media (max-width: 550px) {
        .shareArticle {
            position: absolute;
            top: 8rem;
            right: 4rem;
        }
    }

.tooltipContent {
    display: none;
    &.open {
        position: absolute;
        background: var(--backgroundColor);
        top: 100%;
        left: 50%;
        display: block;
        transform: translateX(-50%);
        width: 100px;
        margin: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        box-shadow: var(--shadow);
    }
    ul {
        li {
            border-bottom: solid 1px var(--txtColor);
            padding-bottom: 5px;
            a {
                text-decoration: none;
                &:hover {
                    color: var(--hoverColor);
                }
            }
        }
    }
}