/* this is to override the controlpanel css to differentiate between languages */
:root {
  --frenchColor: #db6c6c14;
}
body.site--espacesuissePublishingFr {
  background-color: var(--frenchColor) !important;
  .global-sidebar {
    background-color: var(--frenchColor);
    }
}
