.dropdown {
    background-color: var(--colorES-brand-blue);

    .dropdownContents {
        padding: calc(var(--layoutGap) * 2);
        display: grid;
        gap: var(--layoutGap);
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        p,
        a,
        label,
        .formTitle {
            color: var(--txtInvertColor);
        }
        input {
            background-color: var(--colorES-brand-blue);
            color: var(--txtInvertColor);
            border: solid 1px var(--txtInvertColor);
        }

        .majorLinks {
            a {
                font-family: var(--font-default);
                font-size: var(--font-size-XL);
                color: var(--linkBgTxtColor);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
            .isActive {
                a {
                    font-weight: var(--font-bold);
                    text-decoration: underline;
                    text-decoration-thickness: 5px;
                    color: var(--linkBgTxtHoverColor);
                }
            }
        }

        .latestEntries {
            h2 {
                font-family: var(--font-display);
                font-size: var(--font-size-L);
                color: var(--txtInvertColor);
            }

            .latestLink {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
                p, h3 {
                    font-size: var(--font-size-M);
                    color: var(--txtInvertColor);
                    margin: 0;
                }
            }
        }

        #mc_embed_shell {
            max-width: 300px;
        }
    }
}
@media (max-width: 48rem) {
    .dropdown {
        .dropdownContents {
            grid-template-columns: 1fr;
            .majorLinks {
                a {
                    font-size: var(--font-size-L);
                    padding-bottom: calc( var(--layoutGap) * 0.5 );
                    display: block;
                    text-align: center;
                }
            }
            #mc_embed_shell {
                display: none;
            }
        }
    }
}