.hasDropdown {
}
button.dropdownLink {
    border: none;
    background: transparent;
    text-decoration: underline;
    padding: 0;
    font-size: var(--font-size-base);
    &:hover {
        cursor: pointer;
    }
}

.dropdown {
    overflow: hidden;
    background-color: white;
    position: absolute;
    height: 0;
    width: 0;
    /* Deifnitions for dekstop */
    left: 0;
    @media (min-width: 768px) {
        top: 0;
        left: var(--siteHeadWidth);
        height: 100vh;
    }
    .relatedNav {
      opacity: 0;
      transition: opacity 1s ease 0.4s;
    }
    &.open {
        animation-name: foldOutTop;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        width: 100%;
        @media (min-width: 768px) {
            animation-name: foldOutLeft;
            animation-duration: 0.5s;
            background-color: white;
        }
        .relatedNav {
            opacity: 1;
        }
    }

    &.closing {
        animation-name: foldInTop;
        animation-duration: 0.1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        @media (min-width: 768px) {
            animation-name: foldInLeft;
        }
        .relatedNav {
            opacity: 0;
            transition: opacity 0.05s ease 0s;
        }
    }
}


@keyframes foldOutLeft {
  0% {
    width: 0;
  }

  100% {
    width: 70vw;
  }
}

@keyframes foldInLeft {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}
@keyframes foldOutTop {
  0% {
    height: 0;
  }

  100% {
    height: 80vh;
  }
}

@keyframes foldInTop {
  0% {
    height: 100%;
  }

  100% {
    height: 0;
  }
}