.headerSectionNews {
    box-shadow: none;
    margin-top: 20vw;
    background-color: transparent;
    h1 {
        font-size: var(--font-size-XXL);
        font-family: var(--font-default);
        font-weight: var(--font-normal);
        line-height: var(--line-height-base);
        color: var(--txtColor);
        margin: 0;
        text-align: center;
    }
    .articleAuthors {
        justify-content: center;
        gap: 0.5em;
    }
}