.bodyNewsletter {
    .elementPanel {
        margin-bottom: calc(var(--layoutGap) * 2);
    }
}

.newsletterForm {
    max-width: 48rem;
    margin: 0 auto;
    padding: var(--layoutGap);
    .asterisk {
        color: var(--txtInvertColor);
    }

    .formTitle,
    .formSubtitle, .newsletterArchiveTitle {
        color: var(--txtColor);
        font-family: var(--font-display);
        font-size: var(--font-size-M);
        margin-bottom: 0;
    }

    input[type="email"],
    input[type="text"] {
        background-color: transparent;
        border: solid 1px var(--colorES-brand-blue);
        color: var(--txtColor);
        width: 100%;
        border-radius: 5px;
        margin-bottom: var(--layoutGap);
        padding: 1.3rem;
    }

    .mce_inline_error {
        font-size: var(--font-size-S);
        font-weight: var(--font-regular);
    }

    p {
        font-size: var(--font-size-M);
        font-weight: var(--font-regular);
    }
    input[type="submit"] {
        background-color: var(--colorES-brand-blue);
        color: var(--txtInvertColor);
        border: none;
        padding: 0.75rem 1.5rem;
        font-size: var(--font-size-M);
        font-family: var(--font-display);
        cursor: pointer;
        border-radius: 5px;
    }

    #mce-error-response {
        color: var(--txtInvertColor);
        font-size: var(--font-size-M);
        margin-bottom: 20px;
    }
}

footer, .dropdownContents {
    .newsletterForm {
        max-width: 36rem;
        .formTitle,
        .formSubtitle {
            color: var(--txtInvertColor);
        }
        input[type="email"],
        input[type="text"] {
            background-color: transparent;
            border: solid 1px var(--txtInvertColor);
            color: var(--txtInvertColor);
        }

        input[type="submit"] {
            background-color: var(--txtInvertColor);
            color: var(--colorES-brand-blue);
        }
    }
}