.esBrandLink {
    width: 150px;
    padding-bottom: var(--layoutGap);
    display: block;
    transform: rotate(-90deg) translateY(0);
    transform-origin: 20% -120%;
    padding: 0;
    path {
        fill: var(--txtInvertColor);
    }
}
.irBranding {
    position: fixed;
    top: var(--layoutGap);
    z-index: 1000;
    right: var(--layoutGap);
    width: clamp(140px, 15vw, 20vw);
    svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}