.esBrandLink {
    width: 80%;
    padding-bottom: var(--layoutGap);
    display: block;
}
.irBranding {
    display: block;
    text-align: center;
    @media (max-width: 1023px) {
        width: 100px;
        padding: 0;
    }
}