.tag {
    background-color: var(--colorES-brand-blue);
    border-radius: 4px;
    font-family: var(--font-display);
    white-space: nowrap;
    font-size: var(--font-size-XS);
    padding: 4px 7px;

    a {
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        font-size: var(--font-size-S);
        font-family: var(--font-display);
        color: var(--colorLink);
        &:hover {
            color: var(--colorLinkHover);
        }
    }

    &.subject {
        background-color: var(--colorES-subject);
    }

    &.genre {
        background-color: var(--colorES-genre);
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--layoutGap) / 2);
}

.previewSizeXL,
.previewSizeL {
    .tags {
        position: absolute;
        top: var(--layoutGap);
        right: var(--layoutGap);
    }
}