<h2>{{ 'Social Media Feeds' | t }}</h2>
<ul>
	<li><a href="https://www.linkedin.com/company/espacesuisse/">LinkedIn</a></li>
	<li><a href="">Mastodon</a></li>
	<li><a href="">Bluesky</a></li>
	<li><a href="{{ siteUrl ~ 'feeds/articles-' ~ craft.app.language |slice(0,2) }}.rss">RSS ({{ craft.app.language }})</a></li>
</ul>
