.anchor {
   font-size: var(--font-size-M);
    font-family: var(--font-default); 
    text-decoration: none;
}
.cellBox {
   >  .anchor {
        position: absolute;
        right: -30px;
    }
}
[id] {
    scroll-margin-top: var(--layoutGap); /* height of your sticky header */
}