.articleSubnav {
    margin-top: calc( var(--layoutGap) * 3 );
    display: flex;
    justify-content: space-between;
}
.prevNext {
    font-size: var(--font-size-S);
    font-family: var(--font-display);
    text-decoration: none;
    color: var(--linkTxtColor);
    display: flex;
    align-items: center;
    &:hover {
        color: var(--linkTxtHoverColor)
    }
}
.articlebottomMeta {
    display: flex;
    gap: calc( var(--layoutGap) / 2);
    align-items: baseline;
    flex-wrap: wrap;
    .bottomCat {
        display: flex;
        gap: calc( var(--layoutGap) / 2);
        padding-bottom: var(--airGap);
        flex-wrap: wrap;
    }
    p {
        font-size: var(--font-size-S);
        font-family: var(--font-default);
    }
    .share {
        text-align: right;
    }
}