:root {
    color-scheme: light dark;

    --font-default: "canada-type-gibson", sans-serif;
    --font-display: var(--font-default);
    --font-monospace: "aglet-mono", mono;
    --font-regular: 300;
    --font-bold: 600;
    --font-medium: 500;

    /* clamp(min, preferred, max) */
    --font-size-base: 62.5%;

    --font-size-XXL: clamp(3rem, 4vw, 5rem);
    --font-size-XL: 3.56rem;
    --font-size-L: 2.5rem;
    --font-size-M: 2.1rem;
    --font-size-S: 1.7rem;
    --font-size-XS: 1.45rem;
    --font-size-XXS: 1.2rem;
    --line-height-base: 1.45;
    --line-height-display: 1;

    --siteSideBarWidth: 75px;
    --articleHeadChute: -100px;
    --layoutGap: var(--font-size-M);
    --mediaGap: calc( var(--layoutGap) * 1.2);
    --airGap: calc(var(--font-size-M) * 0.5);
    @media (min-width: 37rem) {
        --airGap: calc(var(--font-size-M) * 3);
    }

    --maxContentWidth: 120rem;
    --listingMaxWidth: 145rem;
    --headerNoImageHeight: 40vh;
    --headerFigureHeight: 80vh;

    --radiusPreviewCard: 4px;

    --navSpeed: 0.2s;
    --paddingBtnSmall: 4px 9px 6px;
    --radiusPreviewCard: 4px;
    --linkDescorationThikness: 2px;

   /* Links without background */
    --linkTxtColor: rgb(70, 139, 195);
    --linkTxtHoverColor: var(--colorES-brand-blue);
    --linkTxtActiveColor: var(--linkTxtColor);

    /* Links with background */
    --linkBgTxtColor: white;
    --linkBgColor: var(--linkTxtColor);
    --linkBgHoverColor: var(--colorES-brand-blue);
    --linkBgTxtHoverColor: var(--linkBgTxtColor);

    --linkTxtColorVisited: var(--colorES-brand-blue-soft);
    --linkDescorationThikness: 2px;

    --txtColor: rgb(86, 86, 86);
    --txtInvertColor: white;

    --backgroundColor: rgb(250, 250, 250);
    --colorPreviewCard: white;

    --color-highlight-soft: var(--backgroundColor);
    --color-highlight-strong: var(--colorES-brand-blue);

    --colorES-brand-blue: rgb(28, 112, 183);
    --colorES-brand-blue-soft: rgb(152, 189, 212);
    --colorES-brand-petrol: rgb(0, 201, 190);
    --colorES-subject: rgb(251, 167, 82);
    --colorES-genre: rgb(48, 141, 192);

    --colorEs-alert: rgb(216, 134, 34);
    --colorEs-success: rgb(128, 205, 113);
    --shadow: 0 2px 20px 0 rgba(0,0,0,0.07);

    --colorGenre: #e3d4a5;
    --colorSubject: #e2f1f1;
} 

/* 2. EXPLICIT Dark Mode: User explicitly clicked the "Dark" button */
:root[data-theme="dark"] {
    color-scheme: dark;
    /* ... your exact dark variables ... */
}


/* 3. AUTO Dark Mode: OS is Dark AND User hasn't clicked "Light" */
@media (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        color-scheme: dark;
        
        --backgroundColor: rgb(46, 45, 45);
        --txtColor: rgb(171, 175, 190);
        --txtInvertColor: oklch(from var(--txtColor) calc(l + 0.06) c h);
        --colorPreviewCard: oklch(from var(--backgroundColor) calc(l + 0.03) c h);
        --colorES-brand-blue: rgb(16, 70, 115);
        --colorES-brand-blue-soft: rgb(152, 189, 212);
        --colorES-brand-petrol: rgb(0, 201, 190);
        --colorES-subject: rgb(251, 167, 82);
        --colorES-genre: rgb(48, 141, 192);
        --colorEs-alert: rgb(216, 134, 34);
        --colorEs-success: rgb(128, 205, 113);

        --linkTxtColor: oklch(from var(--colorES-brand-blue) calc(l + 0.13) c h);
        --linkTxtHoverColor: var(--colorES-brand-blue);
        --linkTxtActiveColor: var(--linkTxtColor);

        --linkBgTxtColor: white;
        --linkBgColor: var(--linkTxtColor);
        --linkBgHoverColor: var(--colorES-brand-blue);
        --linkBgTxtHoverColor: var(--linkBgTxtColor);

        --linkTxtColorVisited: var(--colorES-brand-blue-soft);

        --color-highlight-soft: var(--backgroundColor);
        --color-highlight-strong: var(--colorES-brand-blue);

        --colorGenre: #534a31;
        --colorSubject: #3d5b5b;
    }
}