.cellQuote {
    blockquote {
        margin-bottom: calc(var(--layoutGap));
        margin-top: 0;
        line-height: 2;
        p {
            font-size: var(--font-size-XL);
            font-family: var(--font-display);
            font-weight: var(--font-regular);
            line-height: calc(var(--line-height-base) + 1rem);
            margin: 0;
        }
        .quoteMarks {
            &::before {
                content: "«";
                color: var(--colorES-brand-blue);
            }

            &:after {
                content: "»";
                color: var(--colorES-brand-blue);
            }
        }
        .speaker {
            font-size: var(--font-size-M);
            font-family: var(--font-default);
            font-weight: var(--font-regular);
            color: var(--colorES-brand-blue);
            &:before {
                content: "— ";
            }
        }
    }
}