.cellDownload {
    display: flex;
    flex-direction: column;
    &.styleA {
        padding: 0;
    }
    .downloadTitle {
        flex: 1;
        font-size: var(--font-size-M);
        font-family: var(--font-default);
        line-height: var(--line-height-base);
        font-weight: var(--font-regular);
        margin: 0;
    }
    .downloadLink {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        img {
            max-width: 150px;
        }
        &:hover {
            background: var(--hoverColor);
            .downloadTitle {
                color: var(--txtInvertColor)
            }
        }
        .downloadIcon {
            width: 150px;
            height: 150px;
            background-color: red;
            justify-content: center;
            align-items: center;
            display: flex;
            color: white;
            font-size: var(--font-size-XXL);
            font-family: var(--font-display);
        }
    }
    @media (max-width: 768px) {
        .downloadLink {
            flex-direction: column-reverse;
        }
    }
}
