.articleImg {
    position: relative;
    padding-bottom: calc(var(--layoutGap));
    picture {
        display: block;
    }

    p {
        margin: 0;
    }


    figcaption {
        .caption {
            padding-top: 5px;
            p {
                font-size: var(--font-size-S);
                font-family: var(--font-default);
                line-height: 1.5;
            }
        }

        .assetSource {
            font-size: var(--font-size-S);
            font-family: var(--font-default);
            opacity: 0.8;
        }
    }
    @media (max-width: 768px) {
            figcaption {
                flex-direction: column;
                
            }
        }
}