.cellBox {
    border-top: solid 4px var(--colorES-brand-blue);
    padding: 0;
    &.styleB {
        background-color: var(--colorES-brand-blue-soft);
        padding: var(--layoutGap);
        box-shadow: var(--shadow);
    }
    &.styleC {
        background-color: var(--colorES-brand-petrol);
        padding: var(--layoutGap);
        box-shadow: var(--shadow);
        border: none;
        p, li, a, .cellCardTitle {
            color: var(--txtInvertColor);
        }
    }
}