.cellDownload {
    display: grid;
    grid-template-columns: subgrid;
    gap: var(--layoutGap);
    .downloadTitle {
        flex: 1;
        font-size: var(--font-size-L);
        font-family: var(--font-display);
    }
    .downloadLink {
        display: grid;
        grid-template-columns: subgrid;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        border: 1px solid var(--colorES-brand-blue);
        position: relative;
        .cellTag {
            position: absolute;
            background-color: var(--colorES-brand-blue);
            color: white;
            font-size: var(--font-size-S);
            font-family: var(--font-display);
            padding: 4px 8px;
            top: 0;
            left: 0;
        }
        &:hover {
            background: var(--linkBgHoverColor);
            .downloadTitle {
                color: var(--txtInvertColor)
            }
        }
        .txtPart {
            text-align: right;
            p {
                font-size: var(--font-size-M);
                font-family: var(--font-default);
            }
        }
        .downloadIcon {
            background-color: red;
            justify-content: center;
            aspect-ratio: 1/1;
            align-items: center;
            display: flex;
            color: white;
            font-size: var(--font-size-XXL);
            font-family: var(--font-display);
        }
    }
    @media (max-width: 768px) {
        .downloadLink {
            flex-direction: column-reverse;
        }
    }
}
