.cellCard {
    padding: var(--layoutGap);
    margin-bottom: var(--layoutGap);
    background: white;
    border: solid 1px var(--txtColor);
    border-radius: 4px;
    .cellCardTitle {
        font-size: var(--font-size-L);
        font-family: var(--font-display);
        font-weight: var(--font-bold);
        border-bottom: solid 3px var(--txtColor);
    }
}