.articleImg {
    position: relative;
    padding-bottom: calc(var(--layoutGap) * 1.5);

    picture {
        display: block;
    }

    p {
        margin: 0;
    }
    @media (max-width: 65rem) {
        figcaption {
            flex-direction: column;

        }
    }
}
figcaption {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .caption {
            padding-top: 5px;

            p {
                font-size: var(--font-size-M);
                font-family: var(--font-default);
                line-height: 1.5;
            }
        }

        .assetSource {
            font-size: var(--font-size-S);
            font-family: var(--font-default);
            opacity: 0.8;
        }
    }