.cellLinkList {
    margin-bottom: calc(var(--layoutGap) * 1);

    ul {
        list-style-type: none;
        padding: 0 !important;

        li {
            list-style-type: none;
            border-top: solid 1px var(--colorES-brand-blue);
            span {
                max-width: 45px;
                display: block;
                padding-left: calc(var(--layoutGap) / 2);
            }
            a {
                display: flex;
                gap: var(--layoutGap);
                align-items: center;
                font-family: var(--font-display);
                font-weight: var(--font-bold);
                font-size: var(--font-size-M);
                color: var(--txtColor);
                line-height: var(--line-height-base);
                text-decoration: none;

                &:hover {
                    color: var(--linkTxtHoverColor);
                    background-color: var(--linkBgColor);
                }
            }
        }
    }
}