.cellQuote {
    blockquote {
        margin: 0;
        line-height: 2;
        p {
            font-size: var(--font-size-XXL);
            font-family: var(--font-default);
            font-weight: var(--font-bold);
            color: var(--colorES-brand-blue);
            margin: 0;
            &::before {
                content: "«";
                color: var(--txtColor);
            }

            &:after {
                content: "»";
                color: var(--txtColor);
            }
        }
        .speaker {
            font-size: var(--font-size-M);
            font-family: var(--font-default);
            font-weight: var(--font-regular);
            color: var(--txtColor);
            &:before {
                content: "— ";
            }
        }
    }
}