.cellCard {
    .cellCardTitle {
        font-size: var(--font-size-L);
        font-family: var(--font-display);
        font-weight: var(--font-bold);
        color: var(--colorES-brand-blue);
        margin: 0;
    }
}