.cellBox {
    background-color: aqua;
    padding: var(--layoutGap);
    h3 {
        background-color: aquamarine;
    }
    margin-bottom: var(--layoutGap);
}

.cellCard {
    padding: var(--layoutGap);
    margin-bottom: var(--layoutGap);
    border: dashed 1px var(--txtColor);
    border-radius: 4px;
}