:root {
    --iconSize: 45px;
}
.cellClickElement {
    margin-bottom: calc(var(--layoutGap) * 1);

    ul {
        list-style-type: none;
        padding: 0 !important;

        li {
            list-style-type: none;
            .linkIcon {
                max-width: var(--iconSize);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                padding: calc(var(--layoutGap) / 5) 0;
                svg {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            a {
                display: flex;
                gap: var(--layoutGap);
                align-items: center;
                font-family: var(--font-display);
                font-weight: var(--font-bold);
                font-size: var(--font-size-M);
                color: var(--txtColor);
                line-height: var(--line-height-base);
                text-decoration: none;

                &:hover {
                    color: var(--linkTxtHoverColor);
                    background-color: var(--linkBgColor);
                }
            }
        }
    }
}