.cellDownload {
    display: flex;
    flex-direction: column;
    .cellDownloadTitle {
        flex: 1;
        font-size: var(--font-size-M);
        font-family: var(--font-display);
        line-height: var(--line-height-base);
        margin: 0;
    }
    .downloadLink {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 1px green;
        margin-bottom: var(--layoutGap);
        padding-bottom: var(--layoutGap);
        text-decoration: none;
        img {
            max-width: 150px;
        }
        .downloadIcon {
            width: 150px;
            height: 150px;
            background-color: red;
            justify-content: center;
            align-items: center;
            display: flex;
            color: white;
            font-size: var(--font-size-XXL);
            font-family: var(--font-display);
        }
    }
}