.cellCard {
    border: solid 1px var(--colorES-brand-blue);
    margin-bottom: var(--layoutGap);
    container-type: inline-size;
    a.cellRelEntry {
        text-decoration: none;
        display: flex;
        gap: var(--layoutGap);
        .imgPart {
            width: 50%;
        }
        .txtPart {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-decoration: none;
            .relEntryHeadMeta {
                font-size: var(--font-size-M);
                font-family: var(--font-default);
                margin: 0;
            }
        }
        &:hover {
            background-color: var(--linkBgHoverColor);
            .relatedEntryTitle {
                color: var(--txtInvertColor);
            }
            .relEntryHeadMeta {
                color: var(--txtInvertColor);
            }
        }
    }
    @container (max-width: 512px) {
        a.cellRelEntry {
            flex-direction: column;

            .imgPart {
                width: 100%;
            }
            .txtPart {
                padding: var(--layoutGap);
            }
        }
    }
}