{# Tell the browser to cache this page for X time #}
{% if craft.app.env != 'dev' %}
	{% set expiry = now|date_modify('+1 hour') %}
	{% set seconds = expiry|date('U') - now|date('U') %}
	{% set deployVersion = getenv('DEPLOY_VERSION') %}

	{% header "ETag: \"" ~ deployVersion ~ "\"" %}
	{% header "Cache-Control: public, max-age=" ~ seconds ~ ", must-revalidate" %}
	{% header "Expires: " ~ expiry|datetime('r') %}
{% endif %}


{# All other templates inherit this and the content is printed in block content #}

{# Category naming globally avalable #}
{% set labelSubject = 'Thema' | t %}
{% set labelGenre = 'Rubrik' | t %}

{% set labelSubjectP = 'Themen' | t %}
{% set labelGenreP = 'Rubriken' | t %}

{% set labelArticle = 'Artikel' | t %}
{% set labelNews = 'News' | t %}

{# Cutoff date for articles to be considered archive articles #}
{# Default to 90 days if no brand specific number is set #}
{% set cutoffDays = (siteBrand.fNumber | default(90)) | integer %}
{% set cutoffDate = '-' ~ cutoffDays ~ ' days' %}
{% set cutoff = "now"|date_modify(cutoffDate) %}



{# Sets a body css class with the section or category handle for css toplevel scoping #}
{% set handle = entry.section.handle ?? category.group.handle ?? null %}
{% set bodyClass = 'body' ~ handle|capitalize %}

{% set articleEagerLoad = [
    'imgAufmacher',
    'imgAufmacher.fTagProvider',
    'imgAufmacher.fImgLicence',
    'imgAufmacher.fmImgSource',
    'fCatGenre',
    'fCatSubject',
] %}

{# is used in sidebar #}
{% set articleIds = craft.entries().section('article').ids() %}

{# is used in sidebar #}
{% set latestNews = craft.entries()
    .section('news')
    .limit(3)
	.with(articleEagerLoad)
    .all() %}

<!doctype html>

<html lang="{{ craft.app.language }}">

	{% include "_components/siteMeta" %}
	{% include "_dynamic/catColorChecker.twig" %}

	<body class="{{ bodyClass }}">
		{{ craft.blitz.includeDynamic('_dynamic/loginIndicator', { currentUrl: craft.app.request.url }) }}
		<div id="app">
			{% include "_components/sideBar/sideBar" %}
			<main id="main">{% block content %}{# all the content #}{% endblock %}</main>
		</div>
		{% include "_components/footer/siteFooter" %}
		{% include "_dynamic/viewCount.twig" %}
		{% include "_components/siteDevBar" %}
	</body>
</html>
