{# this is the root template. All other templates inherit this and the content is printed in block content #}

<!doctype html>

<html lang="{{ craft.app.language }}">
	{% include "_incl/metaHead" %}
	<body>
		<div id="app">
			{% include "_partials/siteHeader" %}
			<main id="main">{% block content %}{# all the content #}{% endblock %}</main>
		</div>
		{% include "_partials/siteFooter" %}
		{% include "_components/devBar" %}
	</body>
</html>
