<!doctype html>

<html lang="{{ craft.app.language }}">
	{% include "_incl/metaHead" %}
	<body>
		<div id="app">
			{% include "_components/siteHeader" %}
			<main id="main">{% block content %}{# all the content #}{% endblock %}</main>
		</div>
		{% include "_partials/devBar" %}
	</body>
</html>
