{# this is the root template. All other templates inherit this and the content is printed in block content #}

{# Category naming globally avalable #}
{% set labelSubject = 'Thema' | t %}
{% set labelGenre = 'Rubrik' | t %}

{# Sets a body css class with the section or category handle for css toplevel scoping #}
{% set handle = entry.section.handle ?? category.group.handle ?? null %}
{% set bodyClass = 'body' ~ handle|ucfirst %}

<!doctype html>

<html lang="{{ craft.app.language }}">

	{% include "_components/siteMeta" %}
	{% include "_components/catColorChecker.twig" %}

	<body class="{{ bodyClass }}">
		<div id="app">
			{% include "_components/siteHeader" %}
			<main id="main">{% block content %}{# all the content #}{% endblock %}</main>
		</div>
		{% include "_components/siteFooter" %}
		{% include "_components/viewCount.twig" %}
		{# {% include "_components/devBar" %} #}
	</body>
</html>
