{% import '_components/previewCards/macroArticlePreview' as macroArticlePreview %}

{% set firstSubject = entry.fCatGenre.one() %}
{% set firstGenre = entry.fCatSubject.one() %}

{% set relatedEntries = craft.entries()
        .section('article')
        .relatedTo([
            'and',
            { targetElement: firstSubject },
            { targetElement: firstGenre }
        ])
		.id(['not', entry.id])
        .limit(7)
        .all() %}

{# Show articles which contain the first subject and genre #}

{% if relatedEntries|length %}

	<aside class="gridArticle">

		{% for item in relatedEntries %}
			{% if loop.first %}
				<h3 class="gridSpan12 moreArticlesTitle">{{ 'Vielleicht Interessiert Sie auch' | t }}…</h3>
			{% endif %}
			{{ macroArticlePreview.listMacro(item,'gridSpan6', 'gridSpan12', 'gridSpan12' ) }}
		{% endfor %}

	</aside>

{% endif %}
