{# Here the variables from the article template are repeated. I hate that. Will make it DRY so there are global variables written only once #}

{% set articleSunset = queryParam.postDate|date_modify('+' ~ siteBrand.fNumber ~ ' days') %}
{% set isSunset = articleSunset < now %}
{% set daysLeft = isSunset ? 0 : now.diff(articleSunset).days %}
{% set freeForAll = queryParam.fSwitch %}

{% if freeForAll %}
	<p class="sunsetHint">{{ 'Artikel frei Verfügbar' | t }}.</p>
{% elseif isSunset %}
	<p class="sunsetHint">{{ 'Artikel nur noch für Mitglieder Verfügbar' | t }}.</p>
{% else %}
	<p class="sunsetHint">{{ 'Für Nichtmitglieder noch ' ~ daysLeft ~ ' Tage verfügbar' | t }}.</p>
{% endif %}