{% set ctaItems = craft.entries.section('callToAction').one() %}
<aside class="calltoAction">
	<h4>{{ ctaItems.title }}</h4>
	{{ ctaItems.fRichTextI18n|raw }}
	<a href="{{ ctaItems.fLinkI18n.url }}">{{ ctaItems.fLinkI18n.label }}</a>
</aside>