{% set accessMessage %}
    {% if not isSunset %}
        Artikel f端r Nichtmitglieder noch {{ daysLeft }} Tage verf端gbar.
        <a href="https://www.espacesuisse.ch/de/verband/mitglieder">Mitglied werden</a>
    {% else %}
        Artikel nur f端r Mitglieder verf端gbar. Bitte
        <a href="{{ url('member-login') }}">Loggen Sie sich ein.</a>
        oder
        <a href="https://www.espacesuisse.ch/de/verband/mitglieder">Mitglied werden</a>.
    {% endif %}
{% endset %}

<p class="gridStart2 gridSpan9">{{ accessMessage|raw }}</p>