{% import '_components/previewCards/macroArticlePreviewL' as macroPreviewL %}
{% import '_components/previewCards/macroArticlePreviewS' as macroPreviewS %}

{% set firstSubject = entry.fCatGenre.one() %}
{% set firstGenre = entry.fCatSubject.one() %}

{% set relatedEntries = craft.entries()
        .section('article')
        .relatedTo([
            'and',
            { targetElement: firstSubject },
            { targetElement: firstGenre }
        ])
		.id(['not', entry.id])
        .limit(7)
        .all() %}

{# Show articles which contain the first subject and genre #}

{% if relatedEntries|length %}

	<aside class="gridArticle">

		{% for item in relatedEntries %}
			{% if loop.first %}
				<h3 class="gridSpanAll moreArticlesTitle">{{ 'Vielleicht Interessiert Sie auch' | t }}…</h3>
			{% endif %}
			{% if loop.index <= 4 %}
				{{ macroPreviewL.listMacro(item,'gridSpan6') }}
			{% else %}
				{{ macroPreviewS.listMacro(item,'gridSpan4') }}
			{% endif %}
	
		{% endfor %}

	</aside>

{% endif %}
