{% import '_components/previewCards/macroPreviewArticle' as macroPreviewArticle %}

{% set firstSubject = entry.fCatGenre.one() %}
{% set firstGenre = entry.fCatSubject.one() %}

{% set relatedEntries = craft.entries()
        .section('article')
        .relatedTo([
            'and',
            { targetElement: firstSubject },
            { targetElement: firstGenre }
        ])
		.id(['not', entry.id])
        .limit(7)
		.with(articleEagerLoad)
        .all() %}

{# Show articles which contain the first subject and genre #}

{% if relatedEntries|length %}

	<aside class="gridArticle furtherArticles">

		{% for item in relatedEntries %}
			{% if loop.first %}
				<h2 class="gridSpan12 moreArticlesTitle">{{ 'Vielleicht Interessiert Sie auch' | t }}…</h2>
			{% endif %}
			{{ macroPreviewArticle.listMacro(item,'gridSpan12 gridMdSpan6', 'gridSpan12', 'gridSpan12' ) }}
		{% endfor %}

	</aside>

{% endif %}
