{% set authorQuery = entry.authors %}

<ul class="articleAuthors gridStart2 gridSpan10">
		{% for item in authorQuery %}
			<li>
                {% if item.photo %}
                    {% set portrait = item.photo.url %}
                    <img src="{{ portrait }}" alt="{{ item.name }}">
                {% endif %}
                {{ item.name }}
            </li>
		{% endfor %}
</ul>