{% set pageParam = entry ?? category %}

<header class="gridSpan12 brandHeader">
	<p class="brandVerband">
		<a href="{{ siteUrl }}">{{ siteBrand.fPlainTxt }}</a>
	</p>
	<p class="brandMagazine">
		{{ siteBrand.fPlainTextI18n }}
		— <span class="claim">{{ siteBrand.fPlainTextI18n2 }}</span>
	</p>
</header>
