{% set pageParam = entry ?? category %}

<header class="gridSpan12 brandHeader">
	<h1 class="brandVerband">{{ siteBrand.fPlainTxt }}</h1>
	<h2 class="brandMagazine">
		{{ siteBrand.fPlainTextI18n }}
		— <span class="claim">{{ siteBrand.fPlainTextI18n2 }}</span>
	</h2>
</header>
