{% import '_macros/macroImage' as imgMacro %}

{% set relEntryQuery = block.fRelEntry.all() %}


{% for item in relEntryQuery %}
    {% set img = item.fArticleImgI18n.one() %}
    {{ imgMacro.articleImage(img, 'articleThumb') }}
    <a href="{{ item.url }}">
        {{ 'Lesen Sie dazu auch' | t }} <br>
        {{ item.title }}
    </a>
{% endfor %}