{% import '_components/previewCards/macroArticlePreview' as macroArticlePreview %}

<section class="teaser newsTeaser">
	{% for item in newsEntries %}
		{{ macroArticlePreview.listMacro(item,'gridSpan12', 'gridSpan6', 'gridSpan6') }}
	{% endfor %}
	{% if goToAllNews and newsEntries | length %}
		<div class="gridSpan4">
			<a href="{{ goToAllNews.url }}" class="btn gridSpan4">{{ goToAllNews.title }}</a>
		</div>
	{% endif %}
</section>
