{% import '_components/previewCards/macroPreviewNews' as macroPreviewNews %}

{% set listingNews = craft.entries().section('listingNews').one() %}

<section class="newsTeaser">
	<div class="listingGrid">
		{% for item in newsEntries %}

			{% if loop.first %}
				<h2 class="gridSpan12 topicTitle">{{ listingNews.title }}</h2>
			{% endif %}
			
			{{ macroPreviewNews.listMacro(item,'gridSpan12 gridMdSpan6 gridLgSpan4', 'gridSpan12', 'gridSpan12', true) }}

			{% if loop.last %}
				<div class="gridSpan12 gridMdSpan2 gridMdStart6">
					<a href="{{ listingNews.slug }}" class="btn gridSpan4">{{ listingNews.title }}</a>
				</div>
			{% endif %}

		{% endfor %}
	</div>
</section>
