{% import '_macros/macroCatOverview' as macroCat %}

<aside class="listingGrid listingCatList listingSection">
	<h2 class="topicTitle gridSpan12">{{ labelGenreP }} & {{ labelSubjectP }}</h2>
	<div class="tags gridSpan12">
		{{ macroCat.catOverview(catGenre, 'genre', null, siteBrand.fColor) }}
		{{ macroCat.catOverview(catSubject, 'subject', null, siteBrand.fColor2) }}
	</div>
</aside>
