{% import '_macros/mArticlePreviewL' as macroPreviewL %}
{% import '_macros/mArticlePreviewS' as macroPreviewS %}

{% set firstSubject = entry.fCatGenre.one() %}
{% set firstGenre = entry.fCatSubject.one() %}

{# Show articles which contain the first subject and genre #}

<aside class="gridArticle">
	<h3 class="gridSpan12">Weiteres…</h3>

	{% set relatedEntries = craft.entries()
        .section('article')
        .relatedTo([
            'and',
            { targetElement: firstSubject },
            { targetElement: firstGenre }
        ])
        .limit(7)
        .all() %}

	{% for item in relatedEntries %}
		{% if loop.index <= 4 %}
			{{ macroPreviewL.listMacro(item,'gridSpan6') }}
		{% else %}
			{{ macroPreviewS.listMacro(item,'gridSpan4') }}
		{% endif %}

	{% endfor %}
</aside>
