{# Determine the current element (entry, category, product, etc.) #}
{% set currentElement = entry ?? category ?? product ?? null %}

{% if currentElement %}
	<li>
		<ul class="langSwitcher">
			{% for site in craft.app.sites.allSites %}
				{% set localized = craft.categories()
            .id(currentElement.id)
            .site(site.handle)
            .one()
        %}

				{# If no category found, try entries instead #}
				{% if not localized %}
					{% set localized = craft.entries()
                .id(currentElement.id)
                .site(site.handle)
                .one()
            %}
				{% endif %}

				{% if localized and localized.enabled %}
					<li>
						<a href="{{ localized.url }}">{{ site.language |replace({'de-CH': 'de', 'fr-CH': "fr"}) }}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</li>
{% endif %}
