<div class="pageSettingsPanel">
	{{ craft.blitz.includeDynamic('_dynamic/loginIndicator', { currentUrl: craft.app.request.url }) }}
    <ul>{% include "_components/sideBar/navLangSwitcher" %}</ul>
</div>