{# This is the head component of all articles #}


<div class="sideBar">
	{% include "_components/siteNav" %}
	<div class="sidebarBrandLink hideOnMobile">
		{# {{ svg('@webroot/theme/img/logo-espacesuisse-simple.svg')|raw }} #}
		<a href="https://www.espacesuisse.ch/">{{ siteBrand.fPlainTxt }}</a> • <a href="{{ siteUrl }}">{{ siteBrand.fPlainTextI18n }}</a>
	</div>
</div>