{# This is the head component of all articles #}


<div class="siteHeader">
	{% include "_components/siteNav" %}
	<div class="esBrandLink hideOnMobile">
		{# {{ svg('@webroot/theme/img/logo-espacesuisse-simple.svg')|raw }} #}
		<a href="https://www.espacesuisse.ch/">{{ currentSite.group }}</a> • <a href="{{ siteUrl }}">{{ currentSite.name }}</a>
	</div>
</div>