{% import '_macros/macroLinkList' as listMacro %}
{% import '_macros/macroFields' as fieldsMacro %}
{% import '_macros/macroCatOverview' as macroCat %}
{% import '_components/previewCards/macroArticlePreviewXS' as macroPreviewXS %}

{% set labelSubject = 'Themen' %}
{% set labelGenre = 'Genres' %}

{% set queryFooterSubject = craft.categories.group('catSubject')
	.with(['title','url'])
	.relatedTo({ sourceElement: craft.entries.section('article') })
	.all() %}

{% set queryFooterGenre = craft.categories.group('catGenre')
	.with(['title','url'])
	.relatedTo({ sourceElement: craft.entries.section('article') })
	.all() %}

{% set querySubpages = craft.entries.section('subpages')
    .with(['title','url'])
    .all()
%}

{% set queryLatestArticle = craft.entries.section('article')
    .with(['title','url',])
    .limit('10')
    .all()
%}

{% set articleSearch = craft.entries.section('allArticles').with(['title','url']).one() %}

{# Grabs the data from the seomaticPlugin site Identity #}
{% set esBase = seomatic.site.identity %}


<footer>
	<div class="listingGrid">
		<div class="footerContact gridSpan4">
			{% include "_components/footer/siteFooterContact" %}
			{% include "_components/footer/siteFooterSocialMedia" %}
		</div>
		<div class="newsletter gridSpan5">
			{% include "_components/formNewsletter/mailchimpForm" %}
		</div>
		<div class="subPages gridSpan3">
			{{ listMacro.listMacro(querySubpages, null, null, 'entryList' ) }}
		</div>
	</div>
</footer>
