{% extends "_layouts/main" %}

{# 
This is the template for all articles.
It includes the header and the matrix include which contains a switch statement.
In the switch statement the different blocks are included.
The blocks are defined in the matrix field in the CMS.
 #}

{% block content %}

	

	<article>
		
		<header class="articleHead">{% include "_partials/articleHead" %}</header>
		<div class="gridArticle">{% include "_partials/articleMatrix" %}</div>
		<div class="cta">Hier könnte man einen kontextuellen cta bauen: Erste Hilfe raumplanung, db Urteile, Newsletter oder so</div>
	</article>
	{% include "_incl/paywallScript" %}
{% endblock %}
