{% extends "_layouts/main" %}

{% set articleSunset = entry.postDate|date_modify('+3 months') %}
{% set isSunset = articleSunset < now %}
{% set daysLeft = isSunset ? 0 : now.diff(articleSunset).days %}

{# 
This is the template for all articles.
It includes the header and the matrix include which contains a switch statement.
In the switch statement the different blocks are included.
The blocks are defined in the matrix field in the CMS.
 #}

{% block content %}

	<article>
		
		<header class="articleHead">{% include "_partials/articleHead" %}</header>
		<div class="gridArticle">{% include "_partials/articleMatrix" %}</div>
		{% include "_components/ctaCall" %}
		{% include "_components/moreArticles" %}
	</article>
{% endblock %}
