{% extends "_layouts/main" %}

{# 
This is the template for all articles.
It includes the header and the matrix include which contains a switch statement.
In the switch statement the different blocks are included.
The blocks are defined in the matrix field in the CMS.
#}

{# check if the article is older than 3 months #}
{% set articleSunset = entry.postDate|date_modify('+3 months') %}
{% set isSunset = articleSunset < now %}
{% set daysLeft = isSunset ? 0 : now.diff(articleSunset).days %}
{% set isPreview = craft.app.request.getParam('token') is not null %}
{% set freeForAll = entry.fSwitch %}

{# Default empty class #}
{% set articleSunsetClass = '' %}

{# Check if user is logged in #}
{% set isLoggedIn = craft.app.user.identity is not null %}

{# Check if article has Image #}
{% set hasNoImage = entry.imgAufmacher.one() is null %}
{% set noImageSubjectColor = entry.fCatGenre.one() %}

{# Update based on logic - don't sunset if logged in #}
{% if not isPreview and not isLoggedIn and not freeForAll %}
    {% set articleSunsetClass = isSunset ? 'articleIsSunset' : '' %}
{% endif %}

{% block content %}

	{% include "_dynamic/devSunsetPanel" %}

	<article>		
		<header class="pageHead articleHead {{ hasNoImage ? 'noImg' : '' }}">
			{% include "_components/header/headerBrand" %}
			{% include "_components/header/headerArticle" %}
			{% if hasNoImage %}<div class="colorHead" style="background-color: {{ noImageSubjectColor.fColor }};"></div>{% endif %}
		</header>
		<div class="gridArticle {{ articleSunsetClass }} articleContent">
			{% include "_components/articleMatrix" %}
		</div>
		{% include "_components/articleCtaCall" %}
		{% include "_components/articleMoreArticles" %}
	</article>
	{% include "_components/lightboxInitiator" %}
{% endblock %}
