{% extends "_layouts/main" %}
{% import '_macros/macroImage' as macroImg %}
{% import '_macros/macroFigCaption' as figCaption %}

{# news template #}


{% block content %}

	{% set aufmacherBild = entry.imgAufmacher.one() ?? null %}
	{% set authorShort = entry.authors | first %}

	<article>
		<header class="pageHead articleHead">
			{% include "_components/header/headerBrand" %}
			{% include "_components/header/headerNews" %}
		</header>
		<div class="gridArticle articleContent">

			{% if aufmacherBild %}
				<figure class="newsHeadImg gridSpan12">
					{{ macroImg.articleImage(aufmacherBild, 'articleStarterImg', 'imgHeader') }}
					{{ figCaption.figCaption(aufmacherBild, null, aufmacherBild.fSwitch) }}
				</figure>
			{% endif %}

			{% include "_components/articleMatrix" %}
		</div>
	</article>
	<aside class="gridArticle articleContent">
		{% include "_components/newsPrevNext" %}
	</aside>
	{% include "_dynamic/lightboxInitiator" %}
{% endblock %}
