{% extends "_layouts/main" %}
{% import '_macros/macroImage' as macro %}

{# news template #}


{% block content %}

	{% set newsImg = entry.fImgI18n.one() ?? null %}

	<article>
		<header class="pageHead articleHead">
			{% include "_components/header/headerBrand" %}
			{% include "_components/header/headerNews" %}
		</header>
		<div class="gridArticle articleContent">
			{# News section does not have articles, so we use the articleMatrix here to display the news entries #}
			{# The articleMatrix component is flexible enough to handle news entries as well #}
			{# We just need to ensure that the articleMatrix can handle entries from the news #}
			{% include "_components/articleMatrix" %}
		</div>
	</article>
{% endblock %}
