{% extends "_layouts/main" %}


{# news template #}


{% block content %}

	<article>
		
		<header class="newsHead">{% include "_components/newsHead" %}</header>
		<div class="gridArticle articleContent">
			{% include "_components/articleMatrix" %}
		</div>
        {# Not compatible with news section for now #}
		{# {% include "_components/articleCtaCall" %}
		{% include "_components/articleMoreArticles" %} #}
	</article>
{% endblock %}
