{% extends "_layouts/main" %}
{% import '_macros/macroImage' as macroImg %}
{% import '_macros/macroFigCaption' as figCaption %}
{% import '_macros/macroCatOverview' as macroCat %}

{# news template #}


{% block content %}

	{% set aufmacherBild = entry.imgAufmacher.one() ?? null %}
	{% set authorShort = entry.authors | first %}
	{% set newsSubject = entry.fCatSubject %}

	<article>
		<header class="pageHead articleHead">
			{% include "_components/header/headerBrand" %}
			{% include "_components/header/headerNews" %}
		</header>
		<div class="gridArticle articleContent">

			{% if aufmacherBild %}
				<figure class="newsHeadImg gridSpan12">
					{{ macroImg.articleImage(aufmacherBild, 'articleStarterImg', 'imgHeader') }}
					{{ figCaption.figCaption(aufmacherBild, null, aufmacherBild.fSwitch) }}
				</figure>
			{% endif %}

			{% include "_components/articleMatrix" %}
		</div>
	</article>
	<aside class="gridArticle articleContent">
		<div class="gridStart2 gridSpan10 articlebottomMeta">
			{% if newsSubject %}
				<div>
					{{ macroCat.catOverview(newsSubject, 'subject', entry.section, siteBrand.fColor2) }}
				</div>
			{% endif %}
			<p>ID: {{ entry.id }}</p>
		</div>
		{% include "_components/newsPrevNext" %}
	</aside>
	{% include "_dynamic/lightboxInitiator" %}
{% endblock %}
