{% set moreLinks = globalLinks.mxSidebarLinks.all() %}
{% set currentUrl = entry.url ?? null %}

{% for item in moreLinks %}
    {% set isActive = currentUrl and item.fLinkI18n.url == currentUrl %}

    {% if loop.first %}<ul>{% endif %}
    <li class="{{ isActive ? 'isActive' : '' }}">
        <a href="{{ item.fLinkI18n.url }}" aria-label="{{ item.fLinkI18n.label }}">
            {{ item.fLinkI18n.label }}
        </a>
    </li>
    {% if loop.last %}</ul>{% endif %}
{% endfor %}