{% macro listMacro(queryParam, labelParam) %}

	{% for item in queryParam %}
		{% if loop.first %}
			{% if labelParam %}
				<h3 class="listTitle">{{ labelParam | t }}</h3>
			{% endif %}
			<ul>
			{% endif %}
			<li class="listItem">
				<a href="{{ item.url }}">{{ item.title }}</a>
			</li>
			{% if loop.last %}
			</ul>
		{% endif %}
	{% endfor %}

{% endmacro %}
