
{% macro postDate(queryParam) %}

    {% set diffSwitch = now|date_modify('-2 weeks') %}
    {% set postDate = queryParam.postDate %}

    {% if postDate > diffSwitch %}
        {# Relative Time #}
        <p class="postDate">{{ date(postDate|date('c')).diff(now).format('%d') }} {{ 'tage her' | t }}</p>
    {% else %}
        {# Absolute Time #}
        <p class="postDate">{{ postDate | date('d. F Y') }}</p>
    {% endif %}
{% endmacro %}
