{% macro postDate(date, wrap = false) %}
    {% if wrap %}<p class="postDate">{% endif %}

    {% set daysAgo = date.diff(now).days %}

    {% if daysAgo == 0 %}
        {{ date|time('short') }}
    {% else %}
        {{ date|timestamp }}
    {% endif %}

    {% if wrap %}</p>{% endif %}
{% endmacro %}