{% macro figCaption(assetParam, captionParam, hasSourceParam) %}

    {% import '_macros/macroFields' as macroFields %}
    {% import '_macros/macroImageSource' as macroImageSource %}

    {% if captionParam or (hasSourceParam != true) %}
        <figcaption>
            {% if captionParam %}
                <div class="caption">{{ captionParam }}</div>
            {% endif %}
            {% if hasSourceParam != true %}
                <p class="assetSource">{{ macroImageSource.imageSource(assetParam) }}</p>
            {% endif %}
        </figcaption>
    {% endif %}
{% endmacro %}