.articlePreview {
    position: relative;
    background-color: var(--colorPreviewCard);
    border-radius: 3px;
    box-shadow: var(--shadow);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .previewTitle {
        margin: 0;
        a {
            font-family: var(--font-display);
            font-weight: var(--font-bold);
            font-size: var(--font-size-L);
            color: var(--txtColor);
            line-height: var(--line-height-base);
            margin: 0;
            text-decoration: none;

            &:hover {
                color: var(--linkTxtHoverColor);
            }
        }
        padding-bottom: calc(var(--layoutGap) / 2);
    }
    a picture {
        background-color: var(--linkTxtHoverColor);
        img {
            transition: all 0.1s ease-in-out;
            &:hover {
                opacity: 0.5;
            }
        }
    }
    .txtPart {
        padding: var(--layoutGap);
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .lead {
        font-size: var(--font-size-M);
        font-family: var(--font-default);
        line-height: var(--line-height-base);
        color: var(--txtColor);
        margin: 0;
    }

    .sunsetHint {
        font-size: var(--font-size-S);
        font-family: var(--font-default);
    }

    .previewPostDate {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: row-reverse;
    }
    &.newsCard {
        box-shadow: none;
        background-color: transparent;
        .previewTitle a {
            font-size: var(--font-size-M);
            font-family: var(--font-default);
            font-weight: var(--font-normal);
            text-transform: none;
        }
    }
}
.previewSizeS {
    .previewTitle {
        margin-top: 10px;
    }
}