.previewCard {
    position: relative;
    background-color: var(--colorPreviewCard);
    border-radius: var(--radiusPreviewCard);
    box-shadow: var(--shadow);
    overflow: hidden;
    display: grid;
    grid-template-columns: subgrid;
    container-type: inline-size;
    container-name: previewCard;
    .previewTitle {
        margin: 0;

        a {
            font-family: var(--font-display);
            font-weight: var(--font-bold);
            font-size: var(--font-size-L);
            color: var(--txtColor);
            line-height: var(--line-height-base);
            margin: 0;
            text-decoration: none;

            &:hover {
                color: var(--linkTxtHoverColor);
            }
        }

        padding-bottom: calc(var(--layoutGap) / 2);
    }

    .imgPart {
        display: flex;
        picture {
            background-color: var(--linkTxtHoverColor);
            display: flex;

            img {
                object-fit: cover;
                transition: all 0.1s ease-in-out;

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }

    .txtPart {
        padding: var(--layoutGap);
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .lead {
        font-size: var(--font-size-M);
        font-family: var(--font-default);
        line-height: var(--line-height-base);
        color: var(--txtColor);
        margin: 0;
    }

    .sunsetHint {
        font-size: var(--font-size-S);
        font-family: var(--font-default);
    }
    .btnCard {
        margin-left: auto;
    }
    .previewMetaHeader {
        display: flex;
        justify-content: space-between;
    }
    @container  previewCard (max-width: 43rem) {
        .previewMetaHeader {
            flex-direction: column;
            p {
                margin: 0;
            }
        }
    }

    &.newsCard {
        box-shadow: none;
        background-color: transparent;

        .previewTitle a {
            font-size: var(--font-size-M);
            font-family: var(--font-default);
            font-weight: var(--font-normal);
            text-transform: none;
        }
    }
}

.previewSizeS {
    .previewTitle {
        margin-top: 10px;
    }
}