.previewCard {
    &.previewCat {
        .previewTitle {
            display: inline;
            a {
                font-family: var(--font-monospace);
                font-size: var(--font-size-S);
                line-height: 1;
                font-weight: normal;
                padding: calc( var(--layoutGap) / 2 ) var(--layoutGap);
                display: inline-block;
            }
        }
        .previewCatLead {
            font-size: var(--font-size-M);
            line-height: 1.5;
            p {
                color: var(--txtInvertColor);
                text-decoration-line: underline;
                text-decoration-color: var(--txtColor);
                text-decoration-thickness: calc(var(--font-size-M) + 1rem);
                text-underline-offset: calc(var(--font-size-M) * -1);
                text-decoration-skip-ink: none;
            }
        }
        &.previewGenre {
            .previewTitle a {
                border-radius: 50px;
            }
        }
    }
}