.previewCard {
    &.previewCat {
        .imgPart {
            grid-row: 1 / -1;
            grid-column: 1 / -1;
        }
        .txtPart {
            grid-row: 1 / -1;
            grid-column: 1 / -1;
            justify-content: flex-end;
        }
        .previewTitle {
            display: inline;
        }
    }
}