<div class="gridSpan12">
	<h2 class="newsletterArchiveTitle">{{ 'Newsletter Archiv' | t }}</h2>
	<style type="text/css">
		.display_archive {
			font-family: arial, verdana;
			font-size: 12px;
		}
		.campaign {
			line-height: 125%;
			margin: 5px;
		}
	</style>
	 <script
						language="javascript"
						src="https://espacesuisse.us18.list-manage.com/generate-js/?u=0919d95bf074b70a2cd56687d&show=10&fid=13881"
						type="text/javascript"
					></script>
</div>
