<div class="gridSpan12">
	{% if craft.app.language == 'de-CH' %}
		<a href="https://us18.campaign-archive.com/home/?u=0919d95bf074b70a2cd56687d&id=977cadf3ca" class="btn">
			{{ 'Newsletter Archiv' | t }}
		</a>
	{% else %}
		<a href="https://us18.campaign-archive.com/home/?u=0919d95bf074b70a2cd56687d&id=6354f42260" class="btn">
			{{ 'Newsletter Archiv' | t }}
		</a>
	{% endif %}
	
	
</div>
