<IfModule mod_rewrite.c>
    RewriteEngine On

    # force https
    RewriteCond %{HTTP:X-Forwarded-Proto} !=https
    RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L,N]

    RewriteCond %{HTTP_HOST} ^.*\.frb\.io$ [NC]
    RewriteRule .* https://inforaum.ch%{REQUEST_URI} [r=301,L,N]

    # Route 404s to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/(favicon\.ico|apple-touch-icon.*\.png)$ [NC]
    RewriteRule (.+) index.php [L]
</IfModule>
